#dropmenudiv A.textblock {
	BORDER-LEFT-COLOR: #3e7cd1; BORDER-BOTTOM-COLOR: #3e7cd1; COLOR: #3d77c9; BORDER-TOP-COLOR: #3e7cd1; BACKGROUND-COLOR: #ecf4ff; BORDER-RIGHT-COLOR: #3e7cd1
}
#dropmenudiv A.textblockLast {
	BORDER-RIGHT: #3e7cd1 1px solid; BORDER-TOP: #3e7cd1 1px solid; BORDER-LEFT: #3e7cd1 1px solid; COLOR: #3d77c9; BORDER-BOTTOM: #3e7cd1 1px solid; BACKGROUND-COLOR: #ecf4ff
}
#dropmenudiv A.textblock:hover {
	BORDER-LEFT-COLOR: #3e7cd1; BORDER-BOTTOM-COLOR: #3e7cd1; COLOR: white; BORDER-TOP-COLOR: #3e7cd1; BACKGROUND-COLOR: #649de7; BORDER-RIGHT-COLOR: #3e7cd1
}
#dropmenudiv A.textblockLast:hover {
	BORDER-LEFT-COLOR: #3e7cd1; COLOR: white; BORDER-TOP-COLOR: #3e7cd1; BACKGROUND-COLOR: #649de7; BORDER-RIGHT-COLOR: #3e7cd1
}
A:hover {
	COLOR: #649de7
}
.PageHeader .Main {
	COLOR: #3e7cd1; BACKGROUND-COLOR: #3466a5
}
.PageHeader .Main A {
	COLOR: white; TEXT-DECORATION: none
}
.PageHeader .Menu {
	COLOR: #afc8f1; BACKGROUND-COLOR: #3466a5
}
.PageHeader .Menu A {
	COLOR: white; TEXT-DECORATION: none
}
.PageContainer {
	BORDER-LEFT-COLOR: #b6c5e6; BORDER-BOTTOM-COLOR: #b6c5e6; BORDER-RIGHT-COLOR: #b6c5e6
}
.PageHeader .Bar {
	BACKGROUND-COLOR: #afc8f1
}
.PageFooter {
	BORDER-TOP: #add8e6 1px solid; BACKGROUND-COLOR: #f4f4f4
}
.PageFooter .PoweredBy {
	COLOR: gray
}
A {
	COLOR: #3d77c9
}
BODY {
	COLOR: #343434
}
TD {
	COLOR: #343434
}
P {
	COLOR: #343434
}
TD.LeftColumn {
	BACKGROUND-COLOR: #ecf4ff
}
TD.CentreColumn {
	BORDER-RIGHT: #b6c5e6 1px solid; BORDER-LEFT: #b6c5e6 1px solid
}
TD.CentreRow {
	BORDER-RIGHT: #c3d9ff 1px solid; BORDER-LEFT: #c3d9ff 1px solid; BACKGROUND-COLOR: #c3d9ff
}
.LeftColumn .Heading {
	COLOR: white; BACKGROUND-COLOR: #3e7cd1
}
.CentreColumn .Heading {
	COLOR: #3962a4
}
.CentreColumn .SmallText {
	COLOR: gray
}
.CentreColumn .SmallText A {
	COLOR: gray
}
.CentreColumn .Box {
	BORDER-RIGHT: #006699 1px solid; BORDER-TOP: #006699 1px solid; BORDER-LEFT: #006699 1px solid; BORDER-BOTTOM: #006699 1px solid; BACKGROUND-COLOR: #f1f1f1
}
.CentreColumn .Required {
	COLOR: red
}
.CentreColumn .Message {
	BORDER-RIGHT: #add8e6 1px solid; BORDER-TOP: #add8e6 1px solid; BORDER-LEFT: #add8e6 1px solid; BORDER-BOTTOM: #add8e6 1px solid; BACKGROUND-COLOR: #f4f4f4
}
.CentreColumn .HorizontalRule {
	BORDER-BOTTOM: #d3e3f3 1px solid
}
.RightColumn .Panel .Heading {
	COLOR: white; BACKGROUND-COLOR: #3e7cd1
}
.RightColumn .Panel .Content .Message {
	COLOR: green
}
DIV.ListItem {
	BACKGROUND-IMAGE: url(../Images/BlueBullet.gif)
}
DIV.BulletItem {
	BACKGROUND-IMAGE: url(../Images/BlueBullet.gif)
}
DIV.Trail {
	BORDER-RIGHT: #add8e6 1px solid; BORDER-TOP: #add8e6 1px solid; BORDER-LEFT: #add8e6 1px solid; BORDER-BOTTOM: #add8e6 1px solid; BACKGROUND-COLOR: #f4f4f4
}
.ViewArticlePanel .Title {
	COLOR: #006699
}
.ViewArticlePanel .Details {
	COLOR: gray
}
.ViewArticlePanel .Details A {
	COLOR: gray
}
.AuthorSummary {
	BORDER-RIGHT: #add8e6 1px solid; BORDER-TOP: #add8e6 1px solid; BORDER-LEFT: #add8e6 1px solid; BORDER-BOTTOM: #add8e6 1px solid; BACKGROUND-COLOR: #f4f4f4
}
.ArticleFeedbackPanel {
	BORDER-RIGHT: #add8e6 1px solid; BORDER-TOP: #add8e6 1px solid; BORDER-LEFT: #add8e6 1px solid; BORDER-BOTTOM: #add8e6 1px solid; BACKGROUND-COLOR: #f4f4f4
}
.ArticleSummariesPanel .Title {
	BORDER-BOTTOM: #b6c5e6 1px solid; BACKGROUND-COLOR: #ecf4ff
}
.ArticleSummariesPanel .Details {
	COLOR: gray
}
.ArticleSummariesPanel .Details A {
	COLOR: gray
}
.ArticleSummariesPanel .Status {
	BACKGROUND-COLOR: #ffffcc
}
.MyArticlesPanel .Info .StatusDisapproved {
	COLOR: #0000ff
}
.ViewCategoryAdvancedPanel A.Unread {
	COLOR: #3d77c9
}
.ViewCategoryAdvancedPanel A.Unread:visited {
	COLOR: #3d77c9
}
.ViewCategoryAdvancedPanel A.Read {
	COLOR: gray
}
.ViewCategoryAdvancedPanel A.Read:visited {
	COLOR: gray
}
.RecentNewsPanel .Title {
	BORDER-BOTTOM: #b6c5e6 1px solid; BACKGROUND-COLOR: #ecf4ff
}
.RecentNewsPanel .Date {
	COLOR: gray
}
.SmallSearchPanel .Button {
	COLOR: #333333
}
.RecentBlogsPanel {
	BORDER-RIGHT: #add8e6 1px solid; BORDER-TOP: #add8e6 1px solid; BORDER-LEFT: #add8e6 1px solid; BORDER-BOTTOM: #add8e6 1px solid; BACKGROUND-COLOR: #f4f4f4
}
.RecentBlogsPanel .Details {
	COLOR: gray
}
.RecentBlogsPanel .Details A {
	COLOR: gray
}
.ViewBlogEntryPanel .Details {
	COLOR: gray
}
.ViewBlogEntryPanel .Details A {
	COLOR: gray
}
.BlogSummariesPanel .Title {
	BORDER-BOTTOM: #b6c5e6 1px solid; BACKGROUND-COLOR: #ecf4ff
}
.BlogSummariesPanel .Details {
	COLOR: gray
}
.BlogSummariesPanel .Details A {
	COLOR: gray
}
.BlogSummariesPanel .Status {
	BACKGROUND-COLOR: #ffffcc
}
.Paging {
	COLOR: #343434
}
