<STYLE TYPE="text/css">
	.Placeholder {color: #FFFFFF;}
	.styLabel { border-left:1px solid #000066; padding-left:15px; color:#ffffff; }
	.styOrange { color:#ffcc00; }
	.styLtGray { background-color:#ffffff; color:#666666; }
	.styHighlighted {
	background-color:#c0c0c0 !important; color: #000000;
	font-weight:bold; margin:0 0 .25em 0; cursor:hand; }
	.styNormal {
	background-color:#ffffff; color:#000000; 
	font-weight:normal; margin:0 0 .25em 0; cursor:hand; }
	.styYellow {background-color:#deeaf6 !important; }
	.styWhite {background-color:#ffffff; }
	.time { behavior: url(#default#time2); }
</STYLE>