Body {background:#ffffcc; color:#003300;
       font-family:Arial, Helvetica, sans-serif;}

A:link    {color:#C00000;}
A:visited {color:#800000;}
A:hover   {color:#ffff00!important; background:black!important;
           text-decoration:none}
A:active  {color:#0000ff;}

/*A:hover Font {color:#ffff00!important; background:#000000!important;
              text-decoration:none}*/

H2        {font-size:large; font-family:Arial, Helvetica, Sans-Serif;}

I A:hover {font-weight:bold;}

/* Navigation bars */
.Nul           {background:#88ffff; color:#000000; font-size:smaller;
                text-align:center; font-weight:bold}
.Nav           {color:#000000; background:#ffcc99; font-size:smaller;
                text-align:center; font-weight:bold}
.Nav A         {display:block; width:100%;}
.Nav A:link    {color:#000000; text-decoration:none;}
.Nav A:visited {color:#000000; text-decoration:none;}

/* Titles */
.Title {font-size:large; font-family:Arial, Helvetica, Sans-Serif;
        color:#000000!important; text-decoration:none}
.Addr  {font-size:small; font-family:Arial, Helvetica, Sans-Serif;}
.Addr A:hover    {font-weight:bold;}
A:link    .BoxIt {border:thin solid #ffffcc;}
A:visited .BoxIt {border:thin solid #ffffcc;}
A:hover   .Boxit {border:thin solid #000000;}
.BoxIt    TD     {border:thin solid #000000;}

/* Other Boxes */
Table.Black      {border-collapse:collapse; border:4px solid black;}
.Black TD        {border-collapse:collapse; border-bottom:4px solid black;
  border-right:1px solid black;}

.Box TD          {color:#000000; background:#ffcc99;}
.Box A:link      {color:#000000;}
.Box A:visited   {color:#000000;}
.Box A:hover     {color:#ffff00; background:#000000;}

.Box TD.Null     {color:#000000; background:#88ffff;}
.Box TD.Hide     {color:#ffffcc; background:#ffffcc;}


.Small           {font-size:smaller; font-weight:bold; background:#ffcc99;}
TD.Small         {border:thin solid #000000;}
.Small A:link    {color:#000000; text-decoration:none;}
.Small A:visited {color:#000000; text-decoration:none;}

.Head            {font-weight:bold; background:#ffffcc}

.Quot            {background:#666600; color:white;}
.Quot A:link     {color:yellow; text-decoration:none;}
.Quot A:visited  {color:yellow; text-decoration:none;}
.Quot A:hover    {background:yellow!important; color:black!important;
                  text-decoration:none;}
.Quot A:active   {color:yellow; text-decoration:none;}
