# Ignore all .zip files
*.zip

# Ignore all .exe files
*.exe

# Ignore specific files
DUCS_MSc_CS_Resources.zip
Ivan_Bratko_-_Prolog_Programming_for_Artificial_Intelligence_(2011,_Pearson_Education_Canada)_-_libgen.lc.pdf
Gilbert_Strang_-_Introduction_to_Linear_Algebra,_Fourth_Edition_(2009,_Wellesley_Cambridge_Press)_-_libgen.lc.pdf
Herbert_Schildt_-_Java__The_Complete_Reference_(2017,_McGraw-Hill_Education)_-_libgen.lc_compressed.pdf
Theodore_S._Rappaport_-_Wireless_Communications__Principles_and_Practice-Prentice_Hall_(2002).pdf
Albert-Laszlo_Barabasi_-_Network_Science_(2016,_Cambridge_University_Press)_-_libgen.lc.pdf
Patterson.pdf
lfw.tgz
model.h5
FaceRecognition.zip
variables.data-00000-of-00001
pred_video.mp4
road_video.mp4
CNN_ALL1.pptx
DBMS_NOTES_BHUSAN.pdf
Copy_of_Introduction-to-Algorithms-3rd-Edition.pdf
CSMA_-_Made_with_Clipchamp.mp4
ml_notes.pdf
data.rar
Notes.pdf
