placement_data/Java/Java_notes/Java_notes.pdf filter=lfs diff=lfs merge=lfs -text
placement_data/DBMS/Notes/DBMS_Full_Notes.pdf filter=lfs diff=lfs merge=lfs -text
placement_data/Java/Java_notes/Books/Khalid[[:space:]]A.[[:space:]]Mughal,[[:space:]]Rolf[[:space:]]W.[[:space:]]Rasmussen[[:space:]]-[[:space:]]A[[:space:]]Programmer's[[:space:]]Guide[[:space:]]to[[:space:]]Java[[:space:]]SE[[:space:]]8[[:space:]]Oracle[[:space:]]Certified[[:space:]]Associate[[:space:]](OCA)-Addison-Wesley[[:space:]]Professional[[:space:]](2016).pdf filter=lfs diff=lfs merge=lfs -text
placement_data/Java/Java_notes/Books/Herbert[[:space:]]Schildt[[:space:]]-[[:space:]]Java_[[:space:]]The[[:space:]]Complete[[:space:]]Reference,[[:space:]]Twelfth[[:space:]]Edition-McGraw[[:space:]]Hill[[:space:]]Professional[[:space:]](2021).pdf filter=lfs diff=lfs merge=lfs -text
placement_data/Java/Java_notes/Notes/ filter=lfs diff=lfs merge=lfs -text
3rd_semester/Information_Security/Notes/Information_Security_1_2_3_5.pdf filter=lfs diff=lfs merge=lfs -text
