BODY {
	BACKGROUND-IMAGE: url(bg.gif); MARGIN: 0px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #c30000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #990000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6666; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff3333; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, sans-serif; font-color: #000000
}
IMG.logo {
	Z-INDEX: 1; LEFT: 0px; POSITION: absolute; TOP: 0px
}
IMG.bullet {
	VERTICAL-ALIGN: middle
}
TABLE.line {
	LEFT: 0px; BACKGROUND-IMAGE: url(line-horiz.gif); WIDTH: 100%; POSITION: absolute; TOP: 71px; HEIGHT: 3px
}
TABLE.main {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; POSITION: absolute; TOP: 75px; BACKGROUND-COLOR: #ffffff
}
TD.divider {
	BACKGROUND-IMAGE: url(line-dotted-vert.gif); WIDTH: 1px; BACKGROUND-REPEAT: repeat-y
}
DIV.menu {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; BORDER-LEFT: 0px; WIDTH: 160px; PADDING-TOP: 10px; BORDER-BOTTOM: 0px
}
P.navcategory {
	MARGIN-TOP: 0px; FONT-SIZE: 13px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; FONT-FAMILY: "arial black", arial, sans-serif
}
P.navlist {
	MARGIN-TOP: 2px; FONT-SIZE: 10px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 16px
}
TD.content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-TOP: 0px
}
TD.verticalad {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; WIDTH: 140px; PADDING-TOP: 0px
}
TD.squareadbig {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; WIDTH: 336px; PADDING-TOP: 0px; HEIGHT: 280px
}
TD.divider-horiz {
	BACKGROUND-IMAGE: url(line-dotted-horiz.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 1px
}
DIV.leaderboard {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 6px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 4px; WIDTH: 728px; HEIGHT: 90px; BACKGROUND-COLOR: #ebebeb; BORDER-RIGHT-WIDTH: 0px
}
DIV.verticalad {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 120px; HEIGHT: 600px; BACKGROUND-COLOR: #ebebeb; BORDER-RIGHT-WIDTH: 0px
}
DIV.squaread {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 125px; HEIGHT: 125px; BACKGROUND-COLOR: #ebebeb; BORDER-RIGHT-WIDTH: 0px
}
DIV.squareadbig {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 336px; HEIGHT: 280px; BACKGROUND-COLOR: #ebebeb; BORDER-RIGHT-WIDTH: 0px
}
DIV.bannerad {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 468px; HEIGHT: 60px; BACKGROUND-COLOR: #ebebeb; BORDER-RIGHT-WIDTH: 0px
}
DIV.form {
	Z-INDEX: 1; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 50px
}
INPUT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; FONT-FAMILY: verdana, sans-serif; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000; font-color: #000000
}
DIV.content2 {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px
}
PRE.example {
	BORDER-RIGHT: #000000 1px dashed; PADDING-RIGHT: 8px; BORDER-TOP: #000000 1px dashed; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 8px; BORDER-LEFT: #000000 1px dashed; WIDTH: auto; COLOR: #000000; PADDING-TOP: 8px; BORDER-BOTTOM: #000000 1px dashed; FONT-FAMILY: "Courier New", Courier, mono; BACKGROUND-COLOR: #ffffcc
}
FONT.h1 {
	FONT-SIZE: 14pt; COLOR: #000000; FONT-FAMILY: "arial black"
}
