A.helpLink {
	CURSOR: help; COLOR: green; BORDER-BOTTOM: green 1px dashed; TEXT-DECORATION: none
}
A.helpLink:hover {
	COLOR: red; BORDER-BOTTOM: red 1px dashed; TEXT-DECORATION: none
}
.help-tooltip {
	BORDER-RIGHT: windowframe 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: windowframe 1px solid; PADDING-LEFT: 3px; Z-INDEX: 10000; BACKGROUND: infobackground; FILTER: progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=3); PADDING-BOTTOM: 3px; FONT: Status-Bar; BORDER-LEFT: windowframe 1px solid; WIDTH: 250px; COLOR: infotext; PADDING-TOP: 3px; BORDER-BOTTOM: windowframe 1px solid; POSITION: absolute
}
.help-tooltip A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: blue! important
}
.help-tooltip A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: blue! important
}
