HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: Garamond,"Times New Roman", Serif
}
H1 {
	MARGIN-LEFT: 5px; COLOR: #003399; LINE-HEIGHT: 1pt
}
H2 {
	MARGIN-LEFT: 5px; COLOR: #003399; LINE-HEIGHT: 1pt
}
H3 {
	MARGIN-LEFT: 5px; COLOR: #003399; LINE-HEIGHT: 1pt
}
H4 {
	MARGIN-LEFT: 5px; COLOR: #003399; LINE-HEIGHT: 1pt
}
H5 {
	MARGIN-LEFT: 5px; COLOR: #003399; LINE-HEIGHT: 1pt
}
H6 {
	MARGIN-LEFT: 5px; COLOR: #003399; LINE-HEIGHT: 1pt
}
H1 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt; LINE-HEIGHT: 17pt; FONT-STYLE: italic; FONT-FAMILY: "Gill Sans", Arial, helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: 600; FONT-SIZE: 14pt; LINE-HEIGHT: 15pt; FONT-FAMILY: Arial, helvetica, sans-serif
}
H3 {
	FONT-SIZE: 13pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Arial, helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: 500; FONT-SIZE: 12pt; LINE-HEIGHT: 13pt; FONT-FAMILY: Garamond, "Times New Roman", serif font-size:12pt
}
H5 {
	FONT-WEIGHT: 500; FONT-SIZE: 12pt
}
H6 {
	FONT-WEIGHT: 300; FONT-SIZE: 12pt
}
A {
	FONT-SIZE: 12pt
}
P {
	FONT-SIZE: 12pt; MARGIN: 10pt 20pt 10pt 40pt; LINE-HEIGHT: 14pt
}
UL {
	FONT-SIZE: 12pt; MARGIN: 20pt 30pt 20pt 80pt; LINE-HEIGHT: 13pt
}
LI {
	MARGIN: 5pt 0px; TEXT-ALIGN: left
}
IMG {
	MARGIN: 0px 0px 10pt 10pt
}
CAPTION {
	FONT-WEIGHT: 600; FONT-SIZE: 0.8em; VERTICAL-ALIGN: top; COLOR: #959bb3; TEXT-ALIGN: left; caption-side: left
}
#banner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #69c 1px solid; HEIGHT: 33px
}
#banner H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 15pt 0px 0px; PADDING-TOP: 0px; HEIGHT: 33px; font-face: Arial
}
#banner H1 SPAN {
	DISPLAY: inline
}
#banner H2 {
	RIGHT: 0px; BACKGROUND: url(images/boltonlogo_pf.gif) no-repeat right top; MARGIN: 0px; WIDTH: 116px; POSITION: absolute; TOP: 0px; HEIGHT: 33px
}
#banner H2 SPAN {
	DISPLAY: none
}
DIV#pagecontent {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: justify
}
DIV#homepagecontent {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: justify
}
DIV#solutionscontent {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: justify
}
DIV#modulecontent {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: justify
}
DIV#pagebody {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
DIV#homepagebody {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#topbar {
	DISPLAY: none
}
#googlesearch {
	DISPLAY: none
}
#moduletitlebar {
	DISPLAY: none
}
#usefultools {
	DISPLAY: none
}
#sitenav {
	DISPLAY: none
}
#sidebar {
	DISPLAY: none
}
#solutionsbanner {
	DISPLAY: none
}
#decoration {
	BORDER-TOP: #69c 5px solid; DISPLAY: block; FONT-SIZE: 1em; BACKGROUND: #effaff; MARGIN: 0px; VERTICAL-ALIGN: text-bottom; WIDTH: 100%; PADDING-TOP: 10px; BORDER-BOTTOM: #69c 1px solid; POSITION: static; font-face: arial
}
TABLE {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 2em 0px 2em 10%; BORDER-LEFT: #ccc 1px solid; WIDTH: 80%; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
DIV#modulecontent TABLE {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 2em 0px 2em 10%; BORDER-LEFT: #ccc 1px solid; WIDTH: 80%; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
UNKNOWN {
	BORDER-RIGHT: #ccc 1pt solid; BORDER-TOP: #ccc 1pt solid; MARGIN: 20pt 10% 20pt 15%; BORDER-LEFT: #ccc 1pt solid; WIDTH: 75%; BORDER-BOTTOM: #ccc 1pt solid; TEXT-ALIGN: center; page: rotated
}
TH {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: 600; FONT-SIZE: 10pt; BACKGROUND: #ccc; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
DIV#modulecontent TH {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: 600; FONT-SIZE: 10pt; BACKGROUND: #ccc; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
TD {
	BORDER-RIGHT: #ccc 1pt solid; BORDER-TOP: #ccc 1pt solid; FONT-SIZE: 10pt; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #ccc 1pt solid; BORDER-BOTTOM: #ccc 1pt solid; TEXT-ALIGN: left
}
DIV#modulecontent TD {
	BORDER-RIGHT: #ccc 1pt solid; BORDER-TOP: #ccc 1pt solid; FONT-SIZE: 10pt; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #ccc 1pt solid; BORDER-BOTTOM: #ccc 1pt solid; TEXT-ALIGN: left
}
TD A {
	FONT-SIZE: 10pt; BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-ALIGN: left
}
DIV#modulecontent TD A {
	FONT-SIZE: 10pt; BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-ALIGN: left
}
DIV#searchresults {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: justify
}
DIV#searchresults TABLE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10pt 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: justify
}
DIV#searchresults A {
	COLOR: #3366cc
}
#footer {
	BORDER-TOP: #69c 1px solid; MARGIN-TOP: 10pt; FONT-SIZE: 8pt; WIDTH: 100%; PADDING-TOP: 0.5pt; FONT-STYLE: italic; TEXT-ALIGN: right
}
#footer IMG {
	DISPLAY: none
}
DIV#pullquote {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 1.5em 15%; BORDER-LEFT: #ccc 1px solid; WIDTH: 70%; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; FONT-STYLE: italic
}
DIV#pullquote H3 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #333; LINE-HEIGHT: 1em; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: auto
}
DIV#pullquote UL {
	FONT-SIZE: 0.9em
}
A:link {
	
}
A:visited {
	
}
