.verd
{
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 12px;
}

.vinput
{
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 11px;
}

a:link.averd {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
a:visited.averd {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
a:active.averd {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
a:hover.averd {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

a:link.averdb {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}
a:visited.averdb {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}

a:active.averdb {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}

a:hover.averdb {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}


.verb
{
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
}

.input
{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}

.input1
{
        font-family: Arial, Verdana;
        font-size: 12px;
}

body
{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}

p
{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
}

td
{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}

.td1
{
        font-family: Arial,Verdana;
        font-size: 12px;
}

.tdvamsee
{
        font-family: Verdana;
        font-size: 12px;
		margin-top: 40px;
}

.tdvamseebig
{
        font-family: Verdana;
        font-size: 16px;
		margin-top: 40px;
}
.tdusername
{
        font-family: Verdana;
        font-size: 13px;
        font-weight: bold;
}

.vrd
{
        font-family: Arial,Verdana;
        font-size: 12px;
}

.cap
{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #ffffff;
        font-weight: bold;
}

a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}

a:link.vr {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}
a:visited.vr {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}
a:active.vr {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}
a:hover.vr {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}

a:link.vrvamsee {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;

}
a:visited.vrvamsee {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;

}
a:active.vrvamsee {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;

}
a:hover.vrvamsee {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;

}


a:link.vru {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;

	color: blue;
}
a:visited.vru {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;

	color: blue;
}
a:active.vru {
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}
a:hover.vru {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}


.categ_large
{
        font-family: Arial, Verdana, Helvetica, sans-serif;
        font-size: 14px;
}

.categ_large1
{
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 12px;
}

.count_large
{
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 12px;
        color: brown;
}

.categ_small
{
        font-family: Arial, Verdana, Helvetica, sans-serif;
        font-size: 12px;
}
.button {
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
	border: 1px solid #000000;
	padding: 1px;
	margin: 1px 5px;
	color: #000000;
	background-color: #9CDFF7;
	font-weight: bold;
}


a:link.toplink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #f2f2f2;
}
a:visited.toplink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #f2f2f2;
}
a:active.toplink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #f2f2f2;
}
a:hover.toplink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #f2f2f2;
}

a:link.toplinkD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #2F4AAA;
}
a:visited.toplinkD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #2F4AAA;
}
a:active.toplinkD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #2F4AAA;
}
a:hover.toplinkD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #2F4AAA;
}


.big1
{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #2F4AAA;
        font-weight: bold;
}


a:link.link13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}
a:visited.link13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}
a:active.link13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}
a:hover.link13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

.finput
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.newsread
{
        font-family: Verdana;
        font-size: 12px;
}


a:link.mn1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: blue;
}
a:visited.mn1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: blue;
}
a:active.mn1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: blue;
}
a:hover.mn1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: blue;
}

a:link.mn2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}
a:visited.mn2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}
a:active.mn2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}
a:hover.mn2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: blue;
}

.usrmsg {
color:brown;font-size:12px;font-family:verdana
}

.qd_toprow2{
background-color:#F7F7FE;
height: 25px;
valign: center;
}

.qd_toprow1{
background-color:#F1F1FE;
height: 25px;
valign: center;
}

.qd_toprow3{
background-color:#EDEDFE;
height: 25px;
valign: center;
}

.qd_usrname{
color:green;
}

h1           
{ 
 font-family: Arial; font-size: 12pt; font-weight: bold; margin-top: 0; margin-bottom: 10px 
}

td.listdesc
{
	border:1px solid #E3E3E3; padding:10px; border-collapse: collapse
	valign: top;
	background-color: #F4F4F4;
}