STYLE A {
	COLOR: blue
}
A:visited {
	COLOR: green
}
A:active {
	COLOR: red
}
UL {
	MARGIN-BOTTOM: 10px; MARGIN-TOP: 1px
}
FORM {
	MARGIN: 5px
}
TD {
	FONT-FAMILY: Tahoma, Verdana, sans-serif; FONT-SIZE: 12px
}
TH {
	FONT-FAMILY: Tahoma, Verdana, sans-serif; FONT-SIZE: 12px
}
.ctrl {
	FONT-FAMILY: Tahoma, Verdana, sans-serif; FONT-SIZE: 12px; WIDTH: 100%
}
.SubTitle {
	BACKGROUND: #dbeaf5; FONT-FAMILY: Tahoma, Verdana, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.SectionText {
	FONT-FAMILY: Tahoma, Verdana, sans-serif; FONT-SIZE: 13px; PADDING-BOTTOM: 15px
}
.NewsDate {
	FONT-FAMILY: Tahoma, Verdana, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.NewsText {
	FONT-FAMILY: Tahoma, Verdana, sans-serif; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px
}
