.btm {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.pathlinks {
	FONT-SIZE: 7pt; COLOR: #0f238c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0089b7
}
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
UNKNOWN {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.tdrama {
	FONT: 8pt Verdana, Arial, Helvetica, sans-serif
}
.leftlinks {
	FONT-SIZE: 8pt; VERTICAL-ALIGN: middle; COLOR: #0f238c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.buttonskeen {
	BORDER-RIGHT: #31aa94 1px ridge; BORDER-TOP: #31aa94 1px ridge; BACKGROUND-IMAGE: url(../images/buttonskeen.gif); BORDER-LEFT: #31aa94 1px ridge; COLOR: #ffffff; BORDER-BOTTOM: #31aa94 1px ridge; BACKGROUND-COLOR: #31aa94
}
INPUT {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subhead_green {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #008a6b
}
.subhead_black {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000
}
.bodytext20 {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sublevel {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #838181; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sublevel2 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #019376; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sublevelhead {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #0f238c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.global {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.main {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smallblue1 {
	FONT-SIZE: 10pt; COLOR: #0f238c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.smallblue {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0f238c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.whiteheader {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.greenheader {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #019376; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blueheader {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #0f238c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluebg {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e7f1fe; TEXT-ALIGN: left
}
.greenbg {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f2faeb; TEXT-ALIGN: left
}
.head {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px; BACKGROUND-COLOR: #0f238c; TEXT-ALIGN: center; font-faArial: ; serif: 
}
.tabletext {
	FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodytext20 {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sublevel20 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #838181; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sublevelhead20 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #0f238c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.bodytextbold20 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.buttonskeen {
	BORDER-RIGHT: #31aa94 1px ridge; BORDER-TOP: #31aa94 1px ridge; BACKGROUND-IMAGE: url(../images/buttonskeen.gif); BORDER-LEFT: #31aa94 1px ridge; COLOR: #ffffff; BORDER-BOTTOM: #31aa94 1px ridge; BACKGROUND-COLOR: #31aa94
}
INPUT {
	FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.greybg {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: left
}
.head {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px; FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #0f238c; TEXT-ALIGN: center; serif: 
}
.greyhead {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; COLOR: #0f238c; PADDING-TOP: 3px; FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c4c5c6; TEXT-ALIGN: center
}
