BODY {
	FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Arial; BACKGROUND-COLOR: white
}
TD {
	FONT-SIZE: x-small
}
A {
	COLOR: black
}
P {
	FONT-SIZE: x-small; FONT-FAMILY: Arial
}
LI {
	FONT-SIZE: x-small; FONT-FAMILY: Arial
}
H1 {
	FONT-SIZE: small; FONT-FAMILY: Arial
}
H2 {
	FONT-SIZE: x-small; FONT-FAMILY: Arial
}
PRE {
	FONT-SIZE: x-small; FONT-FAMILY: Courier New
}
.normalFont {
	FONT-SIZE: x-small; COLOR: #666666; FONT-FAMILY: Arial
}
.normalFontW {
	FONT-SIZE: x-small; COLOR: #ffffff; FONT-FAMILY: Arial
}
.bigFont {
	FONT-SIZE: large; COLOR: #666666; FONT-FAMILY: Arial
}
.biggerFont {
	FONT-SIZE: medium; COLOR: #666666; FONT-FAMILY: Arial
}
.smallLink {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #ff6600; FONT-FAMILY: Arial
}
.selected {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #999999; LINE-HEIGHT: 16pt; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.menulink {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #ff6600; LINE-HEIGHT: 16pt; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.menulinkW {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: white; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.hoverLink {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #999999; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.activeLink {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #ff6600; FONT-FAMILY: Arial
}
.cright {
	FONT-SIZE: xx-small; COLOR: #999999; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.crightwhite {
	FONT-SIZE: xx-small; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
