A:link {
	COLOR: #3366cc
}
A:active {
	COLOR: #3366cc
}
A:hover {
	COLOR: red
}
A.navbar:link {
	COLOR: #009999
}
A.navbar:visited {
	COLOR: #009999
}
A.navbar:active {
	COLOR: #009999
}
A.navbar:hover {
	COLOR: blue
}
A.sidebar:link {
	COLOR: blue
}
A.sidebar:visited {
	COLOR: blue
}
A.sidebar:active {
	COLOR: blue
}
A.sidebar:hover {
	COLOR: red
}
H1 {
	FONT-FAMILY: Times New Roman, Times; TEXT-ALIGN: center
}
H2 {
	FONT-FAMILY: Times New Roman, Times
}
H3 {
	FONT-FAMILY: Times New Roman, Times
}
H4 {
	FONT-FAMILY: Times New Roman, Times
}
H5 {
	FONT-FAMILY: Times New Roman, Times
}
H6 {
	FONT-FAMILY: Times New Roman, Times
}
.tablehdbg {
	BACKGROUND: #eeeecc
}
.tablehdtext {
	FONT-WEIGHT: bold; COLOR: navy
}
.tablealtrowbg {
	BACKGROUND: #f5f5f5
}
.questiontext {
	COLOR: #008080
}
.warningtext {
	COLOR: #800000
}
