#maincolumn {
	LEFT: 1%; WIDTH: 50%; POSITION: absolute; TOP: 180px
}
#clist1 {
	LEFT: 52%; WIDTH: 15%; POSITION: absolute; TOP: 180px
}
#clist2 {
	LEFT: 68%; WIDTH: 15%; POSITION: absolute; TOP: 180px
}
#clist3 {
	LEFT: 84%; WIDTH: 15%; POSITION: absolute; TOP: 180px
}
#clist2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#clist3 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#clist1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#clist2 UL LI {
	FONT-SIZE: 75%; FONT-FAMILY: Tahoma, Verdana, Arial
}
#clist3 UL LI {
	FONT-SIZE: 75%; FONT-FAMILY: Tahoma, Verdana, Arial
}
#clist1 UL LI {
	FONT-SIZE: 75%; FONT-FAMILY: Tahoma, Verdana, Arial
}
