BODY {
	FONT-FAMILY: Verdana, sans-serif; BACKGROUND-COLOR: white
}
#maincolumn {
	PADDING-RIGHT: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN-RIGHT: 10px; PADDING-TOP: 5px; BACKGROUND-COLOR: white
}
#container {
	PADDING-RIGHT: 12px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px auto; PADDING-TOP: 10px; min-width: 430px
}
UNKNOWN {
	FONT: 16pt Tahoma, Verdana, Helvetica, sans-serif; TEXT-ALIGN: center
}
#description {
	FONT: 14pt Tahoma Arial, Verdana, Helvetica, sans-serif; COLOR: silver
}
UNKNOWN {
	MARGIN-LEFT: 0px
}
#h5problemchild {
	MARGIN-LEFT: 15px
}
A:link {
	COLOR: black; TEXT-DECORATION: none
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A:visited {
	COLOR: #006600
}
A:hover {
	COLOR: #4e8ffd; TEXT-DECORATION: underline
}
H2 {
	PADDING-BOTTOM: 5px
}
LI H2 {
	PADDING-BOTTOM: 5px; MARGIN: 20px 0px 10px; FONT: 10pt Verdana; BORDER-BOTTOM: #ccc 1px dotted
}
UNKNOWN {
	
}
H3 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 16pt; PADDING-BOTTOM: 1px; COLOR: #006600; PADDING-TOP: 1px; BORDER-BOTTOM: silver 1px dotted; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
H4 {
	PADDING-BOTTOM: 5px; MARGIN: 20px 0px 10px; FONT: bold 14px "Trebuchet Ms", Arial, "Times New Roman", Times, serif; BORDER-BOTTOM: #ccc 1px dotted
}
H5 {
	FONT-SIZE: 12pt; PADDING-BOTTOM: 5px; MARGIN: 20px 0px -10px; COLOR: #006600; FONT-FAMILY: sans-serif
}
H6 {
	BORDER-RIGHT: #eee 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px dotted; PADDING-LEFT: 5px; FONT-SIZE: 18px; PADDING-BOTTOM: 5px; BORDER-LEFT: #eee 1px dotted; PADDING-TOP: 5px; BORDER-BOTTOM: #eee 1px dotted; FONT-FAMILY: "Times New Roman", Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #efefef
}
ACRONYM {
	BORDER-BOTTOM: #333 1px dashed
}
abbr {
	BORDER-BOTTOM: #333 1px dashed
}
ACRONYM {
	CURSOR: help; LETTER-SPACING: 0.07em
}
abbr {
	CURSOR: help; LETTER-SPACING: 0.07em
}
SPAN.caps {
	CURSOR: help; LETTER-SPACING: 0.07em
}
#quote {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; MARGIN: -5px 5px 10px; PADDING-TOP: 5px; FONT-FAMILY: Geneva, Arial, Verdana; BACKGROUND-COLOR: #ccc
}
.post {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.storytitle {
	MARGIN: 0px
}
.storytitle A {
	FONT: 24pt Tahoma, Verdana; TEXT-DECORATION: none
}
.storycontent A:link {
	COLOR: #006600
}
.storycontent A:visited {
	COLOR: #006600
}
.storycontent A:hover {
	COLOR: #4e8ffd
}
.meta A:link {
	COLOR: silver
}
.meta A:visited {
	COLOR: silver
}
.meta A:hover {
	COLOR: #4e8ffd
}
.meta {
	FONT-SIZE: 11px; PADDING-BOTTOM: 5px; FONT-FAMILY: Geneva, Arial, Verdana
}
.meta LI {
	DISPLAY: inline
}
UL.post-meta LI {
	DISPLAY: inline
}
.meta UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.meta {
	FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.meta A {
	FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.number A:link {
	COLOR: #ccc
}
.number :unknown {
	content: "- "
}
UNKNOWN {
	PADDING-LEFT: 5px; PADDING-TOP: 20px
}
UNKNOWN {
	BORDER-RIGHT: #006600 1px solid; BORDER-TOP: #006600 1px solid; BORDER-LEFT: #006600 1px solid; BORDER-BOTTOM: #006600 1px solid; BACKGROUND-COLOR: white
}
#searchform {
	
}
.feedback {
	COLOR: #ccc; TEXT-ALIGN: right
}
#respond {
	MARGIN-TOP: 30px
}
#commentform TEXTAREA {
	WIDTH: 90%
}
UNKNOWN {
	MARGIN-LEFT: 0px
}
.commentlist {
	MARGIN-LEFT: 0px
}
#commentlist LI UL {
	FONT-SIZE: 110%; LIST-STYLE-TYPE: none
}
#header A:link {
	TEXT-DECORATION: none
}
#header A:visited {
	TEXT-DECORATION: none
}
#commento {
	PADDING-RIGHT: 3px; BORDER-TOP: silver 2px dotted; PADDING-LEFT: 3px; FONT-SIZE: small; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#commentoauthor {
	COLOR: silver
}
