@import url("/css/topnav.css");

BODY { font-size: 12px; 
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	background-color: white;
	padding: 3px; /* use padding instead of margin on wrapper div to avoid IE ad rendering issues */}



A:link { color: #064599; text-decoration: none; }

A:active { color: #064599; text-decoration: none;}

A:visited { color: #064599; text-decoration: none;}

A:hover { color: #007cd5; text-decoration: underline;}

.text A { text-decoration:underline;font-weight:bold; font-size:12px; }

.itext A { text-decoration:underline;font-weight:bold; font-size:12px; }
	
a img {
	border: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

INPUT { font-family: Arial, Helvetica, sans-serif;
	font-size:11px; } 

hr.clearFloat {
	clear: both;
	display: block;
	visibility: hidden;
	margin: 0;
}

.clearFloat {
	clear: both;
	line-height: 0;
	height: 0;
}

.homeland A:link {
	color: #336666; font-weight: bold;
	}

.related_Items_Table {margin-top:10px; padding-top:10px; }

.homeland TD {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	}

.itext TD {font-size: 12px;
	line-height: 15px;
	margin-top: 0;
	margin-bottom: 2px; 
}

	
.r1style{background-color:#FFFFFF}
.r2style{background-color:#FFFFF3}
	
.smalltext TH {
	font-size:10px; 
	}
	
.dots {
	font-family: Verdana, Arial, Helvetica;
	font-size:8px; color:#999933; font-weight:extra-bold; line-height:10px;
	}


TD.inline {
	font-size: 12px;
	line-height: 12px;
	}
	
.authorPhotoCredit {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #666666;
	}

.bighed {
	font: bold 28px/30px arial, helvetica; margin: 0px 0px 4px 0px;}

.bigtext {
	font: 16px/19px arial, helvetica; margin: 0px 0px 4px 0px;
	}
	
.secondhed {
        font-size: 17px;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 10px;
	}

.secondtext {
        font-family: Times New Roman, Times, serif;
        font-size:14px;
        }
        
.itext {
	font-size: 12px;
	line-height: 15px;
	margin-top: 0;
	margin-bottom: 10px;	}

.jtext {
	font-size: 14px;
	line-height: 15px;
	margin-top: 0;
	margin-bottom: 10px;	}

.bio {
	font: 12px arial, helvetica; margin: 0px 0px 2px 0px; color:#333333;
	font-style: italic;
	}

.columnist {
	font: bold 12px arial, helvetica; margin: 0px 0px 2px 0px; color:#333333;

	}

.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	}

.date {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	}

.deck {
	font: bold 14px arial, helvetica, sans-serif; line-height:15px; margin: 0px 0px 2px 0px; inherit;
	}

.editor {
	font-style: italic;
	}

.hed {font-size: 17px;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 10px; 	}

.leadin {
 font-weight: bold;
	}

.navtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	margin-bottom:.5em;
	}
	
.pullquote {font-size: 16px; font-Family:TimesNewRoman,Times,Serif; font-Weight:bold; font-color:#666666;}


.smalltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px; line-height:11px;
	}

.llitem {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	}
	
.llbullet {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	}


.smalltextcaps {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;  line-height:12px;
	text-transform:uppercase
	}

.strap {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;color:#999;
	}


.text {
	font-size: 12px;
	line-height: 15px;
	margin-top: 0;
	margin-bottom: 10px; }

.textitalic {
	font-size: 12px;
	line-height: 14px;
	margin-top: 0;
	margin-bottom: 10px; 
	font-style: italic; 
	}
	
PRE {
	font-family: Courier; font-size:12px; font-color:333333;
}
.bw50 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	}
	
TD.homelandtype {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	
.bw50 TD {font-size: 10px; font-family: arial, helvetica, sans-serif;  text-align: center; padding-left: 2px; padding-right: 2px;}

.bw50 TD.text   {font-size: 10px; text-align: left; padding-left: 2px;}
.bw50 TD.num  {font-size: 10px; text-align: right; text-indent: 2px; padding-right: 2px;}

.homereuters TD {font-weight: bold;}

.sandp {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	}
	
TD.smalltext {
	font-size:11px;
	}

TD.num {
	font-size:11px; text-align: right;
	}
.sandp TD {font-size: 11px; text-align: center; padding-left: 2px; padding-right: 2px;}
.smalltext TD {font-size: 11px; padding-left: 2px; padding-right: 2px;}
.smalltext TD.num {font-size: 11px; text-align: right; padding-left: 2px; padding-right: 2px;}
.sandp TD.lede   {font-weight: bold; font-size: 10px; text-align: left; text-indent: 2px; padding-left: 2px;}
.header  {background-color: e6e6cc; vertical-align: bottom;}
.rule  {background-color: 999966; }
.data1	{background-color: ffffff; }
.data2   {background-color: fffff3; }

.navSpacer { height:10px; width:5px; font-size:1px; }

/* new stylesheet calls */
.bar { 
 		color: #999 !important;
	font-size: 13px !important;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 13px;
	border-color: #e5e5e5;
	border-width: 5px 0 0 0;
	border-style: solid;
	padding-top: 4px;
	margin-bottom: 7px;
	  }
.bkBar {color: #999;
	font-size: 13px; !important;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 12px;
	border-color: #e5e5e5;
	border-width: 5px 0 0 0;
	border-style: solid;
	padding-top: 4px;
	margin-bottom: 7px;
	}
.wtBar {color: #999;
	font-size: 13px; !important;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 12px;
	border-color: #e5e5e5;
	border-width: 5px 0 0 0;
	border-style: solid;
	padding-top: 4px;
	margin-bottom: 7px;
	}
.grBar {
	color: #999;
	font-size: 13px; !important;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 12px;
	border-color: #e5e5e5;
	border-width: 5px 0 0 0;
	border-style: solid;
	padding-top: 4px;
	margin-bottom: 7px;
	}
.bizBar {
	color: #999;
	font-size: 13px; !important;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 12px;
	border-color: #e5e5e5;
	border-width: 5px 0 0 0;
	border-style: solid;
	padding-top: 5px;
	margin-bottom: 7px;
	}
.innerBar { display:none; !important;
			
}
.bizBar .innerBar {

			color:#999;
}


.grayBlock {
	background-color:#efefef;
	margin-top:0px;
	margin-bottom:15px;
	padding:5px;
}

h1 { font: bold 22px/20px arial, helvetica; margin: 0px 0px 4px 0px;  }
	
h2 { font-size: 17px;
	font-weight: normal;
	line-height: 19px;
	margin-bottom: 10px; }
	
h3 { font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	padding: 3px 0;
	color: #333; }

h4 { font-size: 12px;
	line-height: 15px;
	margin-top: 0;
	margin-bottom: 14px;  }
	
h5 { font-size: 10px;
	line-height: 12px;
	margin-top: 0;
	margin-bottom: 5px; !important;}
	
/* dropdowns start */
.outerMenu {
	position:absolute;
	visibility:hidden;
	font:11px trebuchet ms, arial,helvetica,sans-serif;
	background-color:#015596;
	border-bottom:1px solid #015596;
	padding-top:1px;
	margin-top:1px;
	color:#000;
}
.item {
	border-top:1px solid #fff;
	padding:4px 0px 5px 5px; 
	margin:0px 1px 0px 2px;
}
.actItem {
	background:blue;
}
.sponsorText { padding-left:1px; padding-bottom:1px; }
.menuAdImg { border:0px; width:88px; height:31px; }
.menuAdTrack { position:absolute; visibility:hidden; }
/* dropdowns end */

/* fridge start */
.red {  }
.blue { background-color:#036; }
.biz { background-color:#036; margin:5px 0px 0px 0px; }
.fridge { 
	margin:5px 0px 5px 0px;
	border-top:1px solid #ccc;
	font: 11px/15px trebuchet ms, arial,helvetica !important;
	width:100%;
	clip: auto;
}
.fridge A, .fridge SPAN {
	padding:1px 0px 0px 3px; 
	display:block; 
	margin-left:9px; 
	border-left:1px solid #ccc;
}
.fridge .topLev {
	color:#000 !important;
	border-bottom:1px solid #ccc; 
	background-color:#efefef;
	font-weight:bold;
	text-decoration:none !important;
}
.fridge DIV { border-bottom:1px solid #ccc; }

.fridge A.sub { margin-left:0px; 
	padding-top:3px;
	padding-bottom:3px;
	line-height:1em;
	background-color:#fff;
}
/* fridge end */

/* In-story polls start */
.storyPoll table { font-size:11px; }
.storyPoll span { font-size:11px; }
.storyPoll h5 { font-size:9px; }
.storyPoll .grayBlock { margin-bottom:10px; margin-top:0px; }
/* In-story polls end */



/* START AD STYLES */

.AllAds {
	overflow:visible;
	z-index:99;
	}

#Right2 {
	width:300px;
	overflow:visible;
	padding-bottom:10px;
	z-index:99;
	}
	
#Middle {
	width:300px;
	overflow:visible;
	padding-bottom:10px;
	z-index:99;
	}
	
#Right3 {
	width:300px;
	overflow:visible;
	padding-bottom:10px;
	z-index:99;
	}

/* END AD STYLES */

/*- Partner Hats -------------------------------------------------------------*/

.partnerHat {
	margin: -4px -3px 7px -3px;
	/*
	margin-top: -4px;
	margin-bottom: 7px;
	*/
	height: 30px;
	border-color: #e5e5e5;
	border-width: 0 0 1px 0;
	border-style: solid;	
}

.partnerHat img {
	/* display: block; */
	float: left;
}

.partnerHat a img  {
	border: 0;
}

/* END PARTNER HATS */

