



.pp10  { display: inline; clear: both; }

.pp16a { float: right; margin-left: 10px; border: solid 0px #000000 }

.pp16b { width: 1px; height: 110px; float: left; border: solid 0px #000000 }



.columnContainer { border: solid 0px; }

.leftCol { width: 120px; clear: none; float: left; border: solid 0px #000000; margin-right: 10px; }

.thirdCol { width: 147px; float: right; border: solid 0px; clear: right; margin-left: 10px; margin-top: 15px; }

.thirdColSSI { border: solid 0px; }

.rightCol { width: 147px; float: left; border: solid 0px #FF0000; padding-left: 10px; }

.storyWell { width: 475px; float: left; border: solid 0px #000000; }

.storyWide { width: 630px; float: left; border: solid 0px #000000; }

.marketplace { border: solid 0px; }

.marketinfo { border: solid 0px; }

.rightColNSFix { position: relative; } 

.imageright { float: right; margin: 0px; border: 0px; }

.imageleft  { float: left;  margin: 0px; margin-right: 5px; border: 0px; }



.text { font: 13px arial, helvetica; margin: 0px 0px 2px 0px; color:#333333; line-height:1.2;  }

.bighed { font: 28px/1 Trebuchet Ms, arial, helvetica; 

	font-weight: bold; margin: 0px 0px 4px 0px; inherit; }

.bigtext { font-family:  Arial, Helvetica, sans-serif; 

	font-size:15px; }

.deck {	font: bold 13px arial, helvetica, sans-serif; line-height:1.2; margin: 0px 0px 2px 0px; inherit; }

.hed { font: bold 16px Trebuchet MS, arial, helvetica; line-height:1; 

	margin: 0px 0px 2px 0px; inherit;}

.copyright { font-family: Arial, Helvetica, sans-serif; font-size: 10px; clear: both; margin-bottom: 12px; }

.smalltext { font-family: Arial, Helvetica, sans-serif; font-size: 10px; }

.smalltextcaps { font-family: Arial, Helvetica, sans-serif;	font-size: 10px; text-transform: uppercase; }

.strapRed { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #CC0033;}

.topLine { font-family: Arial, Helvetica, sans-serif; font-size:10px; margin-bottom: 16px; }

.itext { font: 13px arial, helvetica; margin: 0px 0px 2px 0px; color:#333333; line-height:1.2; }

.authorPhotoCredit { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-color: #666633; }

.date { font-family: Arial, Helvetica, sans-serif; font-size: 10px; }

.pullquote { font-family: Times New Roman, Times, Serif; font-weight: bold; font-size: 16px; font-color: 666666; }

.leadin { font-size:12px; font-weight: bold; }





/*BODY { margin-left: 3px; margin-top: 3px; }

A:visited { color: #003366; }

A:link { color: #336666; }

A:active { color: #3399CC; }

*/



#TopRightAd {

	float:right !important;
	z-index:99;
}

/* START AD STYLES */

.AllAds {
	z-index:99;
	}

#Right2 {
	width:300px;
	overflow:visible;
	padding-bottom:10px;
	z-index:99;
	}
	
#Middle {
	width:300px;
	overflow:visible;
	padding-bottom:10px;
	z-index:99;
	}
	
#Right3 {
	width:300px;
	overflow:visible;
	padding-bottom:10px;
	z-index:99;
	}

/* END AD STYLES */
