@import url("/css/topnav.css");

body { font-size: 12px; /* sets 1em to 10px */
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	background-color: white;
	padding: 3px; /* use padding instead of margin on wrapper div to avoid IE ad rendering issues */}

FORM { margin:0px !important; padding:0px !important; }

img  A { border:0; }


A:link { color: #064599; text-decoration: none; }

A:active { color: #064599; text-decoration: none;}

A:visited { color: #064599; text-decoration: none;}

A:hover { color: #007cd5; text-decoration: underline;}

a img {
	border: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

hr.clearFloat {
	clear: both;
	display: block;
	visibility: hidden;
	margin: 0;
}

.clearFloat {
	clear: both;
	line-height: 0;
	height: 0;
}


h1 { font: bold 28px/30px helvetica, arial; margin: 0px 0px 6px 0px;  }
	
h2 { font-size: 17px;
	font-weight: bold;
	line-height: 19px;
	margin: 0px 0px 4px 0px;   }
	
h3 { font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	padding: .1em 0;
	color: #333; }

h4 { font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 1em;  }
	
h5 { font-size: 10px;
	line-height: 11px;
	margin-top: 0;
	margin-bottom: .5em; }

p { font-size: 12px;
	line-height: 14pxm;
	margin-top: 0;
	margin-bottom: 10px; }

br { line-height: .75em; }

.text
{
	font-size: 12px;
	line-height: 14px;
	margin-top: 0;
	margin-bottom: 10px;
}
.text A { text-decoration:underline;font-weight:bold; }

/*
.questionText { font: 12px arial, helvetica; margin: 0px 0px 2px 0px; color:#333333; inherit; }

TD { font: 12px arial, helvetica; color:#333333; }
*/

h4 A { text-decoration:underline;font-weight:bold; }

.black { color: #000; }

.caps
{
	text-transform: uppercase;

}
.itext TD {font-size: 12px;
	line-height: 14px;
	margin-top: 0;
	margin-bottom: 1em;
}


.datestamp { font: 10px  Helvetica, Arial,sans-serif;margin-left:3px;color:#33f ; }

.rule { border-top: 1px solid #999; width: 100%; height:1px; font-size:1px; margin: 2px 0px 2px 0px; }
.strap  {color:#999;margin-top:4px;}
.floatRt {float:right; }
.floatLf { float:left; }
.clear { clear:both; }

.center { text-align: center; }

.right { text-align: right; }
.listspace { padding-top:.5em; }

.nav { position: relative; width: 120px; }

.col148inside { position: relative; width: 150px; left: 452px; }
.col148 { position: relative; width: 150px; left: 602px; }
.sub148inside { position: relative; width: 150px; left: 0px; }
.sub148 { position: absolute; width: 150px; left: 160px; top: 0px; }
.col440 { position: relative; width: 442px; left: 3px; }

.col307 { position: relative; width: 310px; left: 452px; }
.sub307 { position: relative; width: 310px; left: 0px; }
.col318 { position: relative; width: 310px; left: 135px; }
.sub318 { position: relative; width: 310px; left: 0px; }
.col475 { position: relative; width: 450px; left: 135px; }
.col600 { position: relative; width: 165px; left: 600px; }
.col763 { position: relative; width: 763px; }

.navtext { line-height: 1.0em; margin: 0px 0px 0px 7px; }

.head { background: #333; width: 150px; height: 20px; text-indent: 7px; font: bold 13px/1.5 arial, helvetica; color: #fff; }

/* new stylesheet calls */
.bar { 
 		color: #999 !important;
	font-size: 13px !important;
	font-family:helvetica, arial;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 18px;
	border-color: #e5e5e5;
	border-width: 5px 0 0 0;
	border-style: solid;
	padding-top: 10px;
	margin-bottom: 7px;
	  }
.bkBar {color: #999;
	font-size: 13px; !important;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 18px;
	border-color: #e5e5e5;
	border-width: 5px 0 0 0;
	border-style: solid;
	padding-top: 10px;
	margin-bottom: 7px;
	}
.wtBar {color: #999;
	font-size: 13px !important;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 18px;
	border-color: #e5e5e5;
	border-width: 5px 0 0 0  !important;
	border-style: solid;
	padding-top: 10px;
	margin-bottom: 7px;
	}
.grBar {
	color: #999;
	font-size: 13px; !important;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 18px;
	border-color: #e5e5e5;
	border-width: 5px 0 0 0;
	border-style: solid;
	padding-top: 10px;
	margin-bottom: 7px;
	}
.bizBar {
	color: #999;
	font-size: 13px; !important;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 12px;
	border-color: #e5e5e5;
	border-width: 5px 0 0 0;
	border-style: solid;
	padding-top: 10px;
	margin-bottom: 7px;
	}
.innerBar { display:none; !important;
			
}
.bizBar .innerBar {

			color:#999;
}



.grayBlock {
	background-color:#ffffff;
	border:0;
	margin-top:0px;
	padding-bottom:15px;
}

.wtBlock {
	background-color:#ffffff;
	border:0;
	margin-top:0px;
	padding-bottom:15px;
	
}
.nomargin { margin: 0px;
}

.itext {
	font: 12px/15px arial, helvetica; margin: 0px 0px 2px 0px; color:#333333; line-height:1.2;	}

.smalltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
}


.ibrains H5 { font-size:11px; margin:0px; }

/* dropdowns start */
.outerMenu {
	position:absolute;
	visibility:hidden;
	font:11px/1 arial,helvetica,sans-serif;
	background-color:#015596;
	border-bottom:1px solid #015596;
	padding-top:1px;
	margin-top:1px;
	color:#000;
}
.item {
	border-top:1px solid #fff;
	padding:4px 0px 5px 5px; 
	margin:0px 1px 0px 2px;
}
.actItem {
	background:blue;
}
.sponsorText { padding-left:1px; padding-bottom:1px; }
.menuAdImg { border:0px; width:88px; height:31px; }
.menuAdTrack { position:absolute; visibility:hidden; }
/* dropdowns end */

/* fridge start */
.red {  }
.blue { background-color:#007cd5;  }
.biz { background-color:#036; margin:5px 0px 0px 0px; }
.fridge { 
	margin:5px 0px 5px 0px;
	border-top:1px solid #ccc;
	font: 11px/1.5 trebuchet ms, arial,helvetica;
	width:100%;
	clip: auto;
}
.fridge A, .fridge SPAN {
	padding:1px 0px 0px 3px; 
	display:block; 
	margin-left:0px; 
	border-left:1px solid #ccc;
}
.fridge .topLev {
	color:#000 !important;
	border-bottom:1px solid #ccc; 
	background-color:#efefef;
	font-weight:bold;
	text-decoration:none !important;
}
.fridge DIV { border-bottom:1px solid #ccc; }

.fridge A.sub { margin-left:0px; margin-right:0px;
	padding-top:3px;
	padding-bottom:3px;
	line-height:1em;
	background-color:#fff;
}
/* fridge end */


.linkList { font: 10px Arial,Helvetica,sans-serif; margin: 0px; }

 #top-section {
 	z-index:99;
  }
  #mid-section {
  position:relative;
  }
  #bottom-section {
  position:relative;
  }
  #header {
  position:relative;padding-left:0;margin-left:0;width:763px;
 
  }
  
   #midleft {
  position:relative;
  width:440px;
  }
  
  #nav {
  position:absolute;

  width:120px;

  }
  #storywell {
  position:absolute;

  left:130px;
  width:310px;
  }
   #storywell-wide {
  position:absolute;

  left:130px;
  width:450px;
  }
  #col-3 {
  position:absolute;

  left:450px;
  width:310px;
  }
  #col-rt {
  position:absolute;

  left:770px;
  width:170px;
  }
  #col-3-wide {
  position:absolute;

  left:450px;
  width:310px;
  }
  #promo-col {
  position:absolute;
	
  left:770px;
 
  }
  
  #bottom-col {
  position:relative;
  padding-left:130px;
  width:640px;
  }
  
.topstories {
	padding-left:1em;
	padding-bottom:4px;
	margin-left:1em;
	line-height: 1.5em;
}

.topstories li {
	border-bottom:3px #fff solid;
	line-height: 1.0em;
}

.clearFloat {
	clear: both;
	line-height: 0;
	height: 0;
}

/* START AD STYLES */

.AllAds {
	z-index:99;
	}

#Right2 {
	width:300px;
	overflow:hidden;
	padding-bottom:10px;
	z-index:99;
	}
	
#Middle {
	width:300px;
	overflow:hidden;
	padding-bottom:10px;
	z-index:99;
	}
	
#Right3 {
	width:300px;
	overflow:hidden;
	padding-bottom:10px;
	z-index:99;
	}

/* END AD STYLES */

/* START JD POWER BOX STYLES */

#jdPowerBar
{
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.5em;
	padding: 0px;
	display: block;
	text-decoration: none;
	background-color: #fff;
	color: #000;
	margin: 10px 0 0 0;
}

#jdPowerBox
{
	width: 292px;
	margin: 0 0 8px 0;
	padding: 80px 8px 8px 8px;
	border: 1px solid #ccc;
	background-image: url(http://images.businessweek.com/common_images/jdpowerbox_top.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#jdPowerBoxStacked
{
	width: 292px;
	margin: 0;
	padding: 80px 8px 8px 8px;
	background-image: url(http://images.businessweek.com/common_images/jdpowerbox_top.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	border-color: #CCC;
	border-width: 0 1px 0 1px;
	border-style: solid;
}

#jdPowerBox p, #jdPowerBoxStacked p {
	margin: 0;
}

#jdPowerBox ul, #jdPowerBoxStacked ul {
	margin: 10px 0 5px 0;
	padding: 0;
}

#jdPowerBox ul li, #jdPowerBoxStacked ul li
{
	display: block;
	list-style: none;
	background-image: url(http://images.businessweek.com/common_images/bw_arrowbox_4x8.gif);
	background-repeat: no-repeat;
	background-position: 0 3px;
	margin: 3px 0 3px 3px;
	padding: 0 0 0 9px;
	font-weight: bold;
}

#jdPowerBox ul li ul, #jdPowerBoxStacked ul li ul
{
	display: none;
	margin: 2px 0 2px 0;
	padding: 0;
}

#jdPowerBox ul li ul li, #jdPowerBoxStacked ul li ul li
{
	display: block;
	list-style: none;
	background-image: none;
	margin: 3px 0 3px 3px;
	padding: 0 0 0 9px;
	font-weight: bold;
}

/* END JD POWER BOX STYLES */

#TopRightAd {
	/*
	width: 180px;
	height: 180px;
	overflow: hidden;
	margin-bottom: -15px;
	margin-left:2px;
	*/
}


/* INLINE IMAGE ZOOM STYLES */

.inlineImageRight {
	position: relative;
	display: block;
	float: right;
	margin: 5px 0 5px 10px;
	background-repeat: no-repeat;
	/* border: 1px solid black; */
}

.inlineImageLeft {
	position: relative;
	display: block;
	float: left;
	margin: 5px 10px 5px 0;
	background-repeat: no-repeat;
	/* border: 1px solid black; */
}

.inlineImageRight img, .inlineImageLeft img {
	position: absolute;
	top: 3px;
	right: 3px;
	border: 0;
}

/*- Partner Hats -------------------------------------------------------------*/

.partnerHat {
	margin: -4px -3px 7px -3px;
	/*
	margin-top: -4px;
	margin-bottom: 7px;
	*/
	height: 30px;
	border-color: #e5e5e5;
	border-width: 0 0 1px 0;
	border-style: solid;	
}

.partnerHat img {
	/* display: block; */
	float: left;
}

.partnerHat a img {
	border: 0;
}