  
 #storytop {
  position:absolute;
  top:0;
  left:130px;
  width:475px;
  }
  
 #storywide {
  position:absolute;
  top:0;
  left:130px;
  width:475px;
  }
  
  #storyrelated {
  float:right;
  left:320px;
  width:155px;
  }
  #storyright {
  position:absolute;
  top:0;
  left:615px;
  width:165px;
  }

  .leadin {
  font-size:12px; font-weight: bold; 
  }