BODY {
	FONT-SIZE: 10pt; MARGIN: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-SIZE: 10pt; MARGIN: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
A:visited {
	COLOR: #355ea0; TEXT-DECORATION: none
}
A:active {
	COLOR: #355ea0; TEXT-DECORATION: none
}
A:link {
	COLOR: #355ea0; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
BLOCKQUOTE {
	FONT-STYLE: italic
}
#header {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(images/header.gif); PADDING-BOTTOM: 15px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: #e4e5e5 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 65px; BACKGROUND-COLOR: #ffffff
}
#header A {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000000; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, sans-serif
}
#menu {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 200px; PADDING-TOP: 8px
}
#menu H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 0px; COLOR: #ff6600; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, sans-serif
}
#menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px 5px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.listitem IMG {
	MARGIN-LEFT: 5px
}
A.listitem:visited {
	COLOR: #355ea0; TEXT-DECORATION: none
}
A.listitem:active {
	COLOR: #355ea0; TEXT-DECORATION: none
}
A.listitem:link {
	COLOR: #355ea0; TEXT-DECORATION: none
}
A.listitem:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#LoginForm {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #808080; TEXT-ALIGN: justify
}
#LoginForm INPUT.text {
	BORDER-RIGHT: #c0c0c0 1px dashed; BORDER-TOP: #c0c0c0 1px dashed; FONT-SIZE: 8pt; BORDER-LEFT: #c0c0c0 1px dashed; WIDTH: 180px; BORDER-BOTTOM: #c0c0c0 1px dashed
}
#main {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 580px; PADDING-TOP: 0px
}
H1.block_title {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; BACKGROUND-IMAGE: url(images/day_header.gif); PADDING-BOTTOM: 3px; MARGIN: 10px 0px 0px; TEXT-TRANSFORM: uppercase; COLOR: #ff6600; PADDING-TOP: 20px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, sans-serif; HEIGHT: 59px
}
H1.block_title IMG {
	VERTICAL-ALIGN: middle
}
H1.block_title A:visited {
	COLOR: #ff6600
}
H1.block_title A:active {
	COLOR: #ff6600
}
H1.block_title A:link {
	COLOR: #ff6600
}
DIV.block {
	BACKGROUND-POSITION: left top; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(images/main_background.gif); BACKGROUND-REPEAT: repeat-y; TEXT-ALIGN: justify
}
DIV.block_footer {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(images/day_footer.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 67px
}
DIV.post {
	PADDING-LEFT: 20px
}
DIV.posttitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #355ea0; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, sans-serif
}
.posttitle A:visited {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.posttitle A:active {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.posttitle A:link {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.posttitle A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
DIV.itemdesc {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #808080; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, sans-serif
}
DIV.seperator {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(images/post_footer.gif); MARGIN: 15px 0px 10px; BACKGROUND-REPEAT: no-repeat
}
DIV.entrylistitem {
	PADDING-LEFT: 20px; PADDING-BOTTOM: 10px
}
A.entrylisttitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, sans-serif
}
A.entrylisttitle:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, sans-serif
}
A.entrylisttitle:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, sans-serif
}
A.entrylisttitle:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, sans-serif
}
DIV.moreinfo {
	FONT-SIZE: 8pt; TEXT-ALIGN: justify
}
DIV.moreinfotitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ff6600; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, sans-serif
}
DIV.comments {
	FONT-SIZE: 8pt
}
DIV.comment {
	BORDER-RIGHT: #dddddd 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #dddddd 1px dashed; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; BORDER-LEFT: #dddddd 1px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #dddddd 1px dashed; BACKGROUND-COLOR: #fbfbfb
}
DIV.comment_author {
	MARGIN: 5px 0px
}
DIV.comment_content {
	MARGIN: 5px 0px
}
#postcomment {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #dddddd 1px solid; MARGIN-TOP: 15px; PADDING-LEFT: 10px; FONT-SIZE: 8pt; PADDING-BOTTOM: 10px; BORDER-LEFT: #dddddd 1px solid; WIDTH: 435px; PADDING-TOP: 10px; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #fbfbfb; TEXT-ALIGN: justify
}
#postcomment DIV {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN: 5px 0px; COLOR: #808080
}
#postcomment INPUT.text {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
.footer {
	CLEAR: both; BORDER-TOP: #e4e5e5 1px solid; FONT-SIZE: 0.7em; MARGIN: 0px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
INPUT.text {
	WIDTH: 300px
}
TEXTAREA {
	WIDTH: 300px; HEIGHT: 200px
}
#relatedlinks UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
