BODY {
	SCROLLBAR-FACE-COLOR: #003399; FONT-SIZE: 10pt; SCROLLBAR-HIGHLIGHT-COLOR: #000099; SCROLLBAR-SHADOW-COLOR: #000033; SCROLLBAR-3DLIGHT-COLOR: #663399; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #efefef; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #000000; TEXT-ALIGN: justify
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #003399; BORDER-BOTTOM-COLOR: #003399; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-COLOR: #003399; PADDING-TOP: 0px; BORDER-RIGHT-COLOR: #003399
}
IMG.pv2 {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px
}
IMG.pv4 {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 4px
}
IMG.pv8 {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px
}
IMG.pv12 {
	MARGIN-TOP: 12px; MARGIN-BOTTOM: 12px
}
IMG.pv16 {
	MARGIN-TOP: 16px; MARGIN-BOTTOM: 16px
}
IMG.ph2 {
	MARGIN-LEFT: 2px; MARGIN-RIGHT: 2px
}
IMG.ph4 {
	MARGIN-LEFT: 4px; MARGIN-RIGHT: 4px
}
IMG.ph8 {
	MARGIN-LEFT: 8px; MARGIN-RIGHT: 8px
}
IMG.ph12 {
	MARGIN-LEFT: 12px; MARGIN-RIGHT: 12px
}
IMG.ph16 {
	MARGIN-LEFT: 16px; MARGIN-RIGHT: 16px
}
PRE {
	FONT-SIZE: 10pt
}
DIV {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
P {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
P.l {
	TEXT-ALIGN: left
}
P.ff {
	FONT-SIZE: 10pt; FONT-FAMILY: "Courier New", Courier, mono
}
P.c {
	TEXT-ALIGN: center
}
P.cwb {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-ALIGN: center
}
P.cb {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003399; TEXT-ALIGN: center
}
P.g {
	FONT-SIZE: 10pt; COLOR: #999999
}
P.s {
	FONT-SIZE: 8pt
}
P.sc {
	FONT-SIZE: 8pt; TEXT-ALIGN: center
}
P.sg {
	FONT-SIZE: 8pt; COLOR: #999999
}
P.ssg {
	FONT-SIZE: 7pt; COLOR: #999999
}
P.sgc {
	FONT-SIZE: 8pt; COLOR: #999999; TEXT-ALIGN: center
}
P.sgr {
	FONT-SIZE: 8pt; COLOR: #999999; TEXT-ALIGN: right
}
P.r {
	TEXT-ALIGN: right
}
P.bheading {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #003399
}
P.sbheading {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003399
}
LI {
	FONT-SIZE: 10pt; LIST-STYLE-IMAGE: url(/gifs/li.gif); FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
LI.star {
	LIST-STYLE-IMAGE: url(/gifs/lib.gif)
}
LI.sg {
	FONT-SIZE: 8pt; COLOR: #999999
}
INPUT {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TEXTAREA.u {
	TEXT-TRANSFORM: uppercase
}
INPUT.s {
	FONT-SIZE: 8pt
}
INPUT.u {
	TEXT-TRANSFORM: uppercase
}
SELECT {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:link {
	COLOR: #003399; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #003399; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #003399; TEXT-DECORATION: underline
}
A:hover {
	BACKGROUND-COLOR: #eef2ff
}
A.ignore:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.ignore:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.ignore:hover {
	BACKGROUND-COLOR: transparent
}
A.sg:link {
	FONT-SIZE: 8pt; COLOR: #999999
}
A.sg:visited {
	FONT-SIZE: 8pt; COLOR: #999999
}
A.sg:hover {
	FONT-SIZE: 8pt; COLOR: #999999
}
A.ssb:link {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003399; TEXT-DECORATION: none
}
A.ssb:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003399; TEXT-DECORATION: none
}
A.ssb:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003399; TEXT-DECORATION: none
}
A.s:link {
	FONT-SIZE: 8pt
}
A.s:visited {
	FONT-SIZE: 8pt
}
A.s:hover {
	FONT-SIZE: 8pt
}
A.ff:link {
	FONT-SIZE: 10pt; FONT-FAMILY: "Courier New", Courier, mono
}
A.ff:visited {
	FONT-SIZE: 10pt; FONT-FAMILY: "Courier New", Courier, mono
}
A.ff:hover {
	FONT-SIZE: 10pt; FONT-FAMILY: "Courier New", Courier, mono
}
A.g:link {
	COLOR: #999999
}
A.g:visited {
	COLOR: #999999
}
A.g:hover {
	COLOR: #999999
}
A.cb:link {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003399; TEXT-ALIGN: center
}
A.cb:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003399; TEXT-ALIGN: center
}
A.cb:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003399; TEXT-ALIGN: center
}
A.b:link {
	FONT-WEIGHT: bold
}
A.b:visited {
	FONT-WEIGHT: bold
}
A.b:hover {
	FONT-WEIGHT: bold
}
A.q:hover {
	CURSOR: help; BACKGROUND-COLOR: transparent
}
A.ssg:link {
	FONT-SIZE: 7pt; COLOR: #999999
}
A.ssg:visited {
	FONT-SIZE: 7pt; COLOR: #999999
}
A.ssg:hover {
	FONT-SIZE: 7pt; COLOR: #999999
}
A.sbheading {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003399; TEXT-DECORATION: none
}
.b {
	FONT-WEIGHT: bold
}
.sb {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003399
}
.sbheading {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003399
}
.ssbheading {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003399
}
.ssb {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003399
}
.ff {
	FONT-FAMILY: "Courier New", Courier, mono
}
.ffg {
	COLOR: #999999; FONT-FAMILY: "Courier New", Courier, mono
}
.ffb {
	FONT-WEIGHT: bold; FONT-FAMILY: "Courier New", Courier, mono
}
.g {
	FONT-SIZE: 10pt; COLOR: #999999
}
.invisible {
	COLOR: #ffffff
}
.red {
	COLOR: #ff0000
}
.s {
	FONT-SIZE: 8pt; TEXT-ALIGN: justify
}
.sg {
	FONT-SIZE: 8pt; COLOR: #999999
}
.ssg {
	FONT-SIZE: 7pt; COLOR: #999999
}
.sgc {
	FONT-SIZE: 8pt; COLOR: #999999; TEXT-ALIGN: center
}
.sred {
	FONT-SIZE: 8pt; COLOR: #ff0000
}
.ssred {
	FONT-SIZE: 7pt; COLOR: #ff0000
}
.ssb {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003399
}
TR.bback {
	BACKGROUND-COLOR: #003399
}
TABLE.bbord {
	BORDER-RIGHT: #003399 solid; BORDER-TOP: #003399 solid; BORDER-LEFT: #003399 solid; BORDER-BOTTOM: #003399 solid
}
