#dropmenudiv {
	POSITION: absolute
}
#dropmenudiv A.textblock {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; FONT: 11px/18px Verdana; BORDER-LEFT: 1px solid; TEXT-INDENT: 3px; PADDING-TOP: 1px; BORDER-BOTTOM: 0px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#dropmenudiv A.textblockLast {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: 1px solid; DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; FONT: 11px/18px Verdana; BORDER-LEFT: 1px solid; TEXT-INDENT: 3px; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#dropmenudiv IMG {
	DISPLAY: block; TEXT-ALIGN: left
}
BODY {
	MARGIN: 0px
}
A:hover {
	
}
.PageHeader {
	MARGIN: 0px
}
.PageHeader .Main {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 20px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; FONT-FAMILY: Tahoma; HEIGHT: 60px
}
.PageHeader .Main A {
	COLOR: white; TEXT-DECORATION: none
}
.PageHeader .Menu {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.PageHeader .Menu A {
	COLOR: white; TEXT-DECORATION: none
}
.PageHeader .Bar {
	HEIGHT: 1px
}
.PageFooter TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.PageFooter .PoweredBy {
	COLOR: gray
}
UL {
	MARGIN: 0px 20px
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
.GlobalContainer {
	TEXT-ALIGN: center
}
.PageContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; HEIGHT: 100%
}
.HeaderContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.BodyContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; HEIGHT: 100%
}
.FooterContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px
}
TABLE.BodyColumns {
	MARGIN: 0px; WIDTH: 100%; BORDER-COLLAPSE: collapse; HEIGHT: 100%
}
TD.LeftColumn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 18%; PADDING-TOP: 0px
}
TD.RightColumn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 20%; PADDING-TOP: 0px
}
TD.CentreColumn {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; VERTICAL-ALIGN: top; PADDING-TOP: 20px; HEIGHT: 700px
}
TD.CentreRow {
	HEIGHT: 10px
}
.LeftColumn .Panel {
	MARGIN: 0px; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.LeftColumn .Heading {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px
}
.LeftColumn .Content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 20px; PADDING-TOP: 10px
}
.CentreColumn .Panel {
	BORDER-COLLAPSE: collapse
}
.CentreColumn .Panel TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.CentreColumn .Heading {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; FONT-WEIGHT: bolder; FONT-SIZE: 18px; PADDING-BOTTOM: 10px; PADDING-TOP: 3px
}
.CentreColumn .SmallText {
	FONT-SIZE: 11px; COLOR: gray
}
.CentreColumn .SmallText A {
	FONT-SIZE: 11px; COLOR: gray
}
.CentreColumn .Box {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.CentreColumn .Required {
	COLOR: red
}
.CentreColumn .Message {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 10px 0px; WIDTH: 98%; PADDING-TOP: 5px
}
.CentreColumn .HorizontalRule {
	FONT-SIZE: 1px; MARGIN: 5px 0px; HEIGHT: 1px
}
.Field {
	MARGIN-TOP: 5px; FONT-SIZE: 11px
}
.FieldFull {
	MARGIN-TOP: 5px; FONT-SIZE: 11px; WIDTH: 100%
}
.Field120 {
	MARGIN-TOP: 5px; FONT-SIZE: 11px; WIDTH: 120px
}
.Field150 {
	MARGIN-TOP: 5px; FONT-SIZE: 11px; WIDTH: 150px
}
.Field200 {
	MARGIN-TOP: 5px; FONT-SIZE: 11px; WIDTH: 200px
}
.Field300 {
	MARGIN-TOP: 5px; FONT-SIZE: 11px; WIDTH: 300px
}
.Field400 {
	MARGIN-TOP: 5px; FONT-SIZE: 11px; WIDTH: 400px
}
.Field500 {
	MARGIN-TOP: 5px; FONT-SIZE: 11px; WIDTH: 500px
}
.FormButton {
	FONT-SIZE: 11px; WIDTH: 100px
}
.FieldLabel {
	WHITE-SPACE: nowrap
}
.RightColumn .Panel {
	MARGIN: 0px; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.RightColumn .Panel .Heading {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px
}
.RightColumn .Panel .Content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 20px; PADDING-TOP: 10px
}
.RightColumn .Panel .Content .Message {
	FONT-SIZE: 11px
}
.HelpLink {
	CURSOR: help
}
DIV.ListItem {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left center; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.ListItem {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left center; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.BulletItem {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left center; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
DIV.Trail {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 15px; WIDTH: 100%; PADDING-TOP: 5px
}
.ViewArticlePanel {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.ViewArticlePanel .Title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bolder; FONT-SIZE: 18px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.ViewArticlePanel .content {
	LINE-HEIGHT: 18px
}
.ViewArticlePanel .PageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px 0px 10px
}
.ViewArticlePanel .Details {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ViewArticlePanel .Details A {
	
}
.AuthorSummary {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: right; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 15px 15px; WIDTH: 180px; PADDING-TOP: 8px
}
.AuthorSummary .Name {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 2px 0px 8px
}
.AuthorSummary .Biography {
	FONT-SIZE: 11px; LINE-HEIGHT: 18px
}
.AuthorSummary .Picture {
	FLOAT: right; MARGIN: 10px
}
.ArticleFeedbackPanel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 5px 0px; WIDTH: 100%; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.ArticleFeedbackPanel TEXTAREA {
	WIDTH: 100%
}
.ArticleFeedbackPanel .Heading {
	FONT-SIZE: 12px
}
.RatingDisplay {
	FONT-SIZE: 10px; MARGIN-RIGHT: 5px; FONT-FAMILY: Tahoma
}
.Label {
	FONT-SIZE: 10px; MARGIN-RIGHT: 5px; FONT-FAMILY: Tahoma
}
.RatingDisplay .Rating {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.RatingDisplay .Rating IMG {
	MARGIN: 0px 2px
}
.ArticleSummariesPanel .Title {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; WIDTH: 100%; PADDING-TOP: 3px
}
.ArticleSummariesPanel .Title A {
	TEXT-DECORATION: none
}
.ArticleSummariesPanel .Title A:hover {
	TEXT-DECORATION: underline
}
.ArticleSummariesPanel .Details {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ArticleSummariesPanel .Status TABLE TD {
	FONT-SIZE: 11px
}
.ArticleSummariesPanel .Status .Notes {
	FONT-STYLE: italic
}
.ArticleSummariesPanel .Content {
	LINE-HEIGHT: 18px
}
.ArticleSummariesPanel .SmallLinks {
	MARGIN: 10px 10px 20px
}
.ArticleSummariesPanel .SmallLinks A {
	TEXT-DECORATION: none
}
.ArticleSummariesPanel .SmallLinks .IMG {
	VERTICAL-ALIGN: super
}
.ArticleSummariesPanel IMG.AuthorPicture {
	MARGIN: 0px 10px 10px 0px
}
.ArticleOptionsPanel DIV {
	FONT-SIZE: 11px; MARGIN: 5px
}
.SiteMenuPanel .Content DIV {
	FONT-SIZE: 11px; MARGIN: 5px
}
.ArticleHistoryPanel .Content {
	FONT-SIZE: 11px
}
.ArticleHistoryPanel OL {
	MARGIN-BOTTOM: 0px
}
.ArticleHistoryPanel LI {
	MARGIN: 5px 0px 0px -10px
}
.RootArticleCategoriesPanel DIV.ListItem {
	FONT-SIZE: 11px; MARGIN: 5px 0px 5px 10px; FONT-FAMILY: verdana
}
.ArticlesToReadPanel .Content {
	FONT-SIZE: 11px
}
.ArticlesToReadPanel .ListItem {
	MARGIN: 5px 0px 0px
}
.SmallArticleFavouritesPanel .Content {
	FONT-SIZE: 11px
}
.SmallArticleFavouritesPanel .ListItem {
	MARGIN: 5px 0px 0px
}
.MyArticlesPanel .Info .StatusDisapproved {
	CURSOR: help; TEXT-DECORATION: underline
}
.PopularAuthorsPanel .Content {
	FONT-SIZE: 11px
}
.PopularAuthorsPanel OL {
	MARGIN-BOTTOM: 0px
}
.PopularAuthorsPanel LI {
	MARGIN: 5px 0px 0px -10px
}
.PopularArticlesPanel .Content {
	FONT-SIZE: 11px
}
.PopularArticlesPanel OL {
	MARGIN-BOTTOM: 0px
}
.PopularArticlesPanel LI {
	MARGIN: 5px 0px 0px -10px
}
.CategoryArticleMapPanel .Content DIV {
	MARGIN: 5px 0px
}
.ViewCategoryAdvancedPanel A.Unread {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.ViewCategoryAdvancedPanel A.Unread:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.ViewCategoryAdvancedPanel A.Read {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.ViewCategoryAdvancedPanel A.Read:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.RecentNewsPanel SPAN {
	DISPLAY: block; WIDTH: 100%
}
.RecentNewsPanel .Item {
	MARGIN-BOTTOM: 20px
}
.RecentNewsPanel .Title {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.recentNewsMoreLink {
	TEXT-DECORATION: none
}
.recentNewsMoreLink:hover {
	TEXT-DECORATION: underline
}
.RecentNewsPanel .Date {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 5px
}
.RecentNewsPanel .Content {
	LINE-HEIGHT: 18px
}
.RecentNewsPanel .SmallLinks {
	MARGIN: 10px 10px 20px
}
.RecentNewsPanel .SmallLinks A {
	TEXT-DECORATION: none
}
.RecentNewsPanel .SmallLinks .IMG {
	VERTICAL-ALIGN: super
}
.SmallSearchPanel .Button {
	FONT-SIZE: 11px; WIDTH: 30px
}
.SyndicatePanel .Title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px 0px 10px
}
.SyndicatePanel .Content DIV {
	MARGIN-BOTTOM: 5px; MARGIN-LEFT: 10px
}
.RecentBlogsPanel {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 11px; FLOAT: right; PADDING-BOTTOM: 8px; MARGIN: 35px 0px 5px 15px; WIDTH: 180px; PADDING-TOP: 2px
}
.RecentBlogsPanel .Title {
	LINE-HEIGHT: 18px
}
.RecentBlogsPanel .Details {
	FONT-SIZE: 10px; PADDING-BOTTOM: 10px
}
.RecentBlogsPanel .Details A {
	
}
.RecentBlogsPanel .Heading {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.RecentBlogsPanel .Link {
	TEXT-ALIGN: right
}
.ArticleRelatedArticlesPanel .Heading {
	FONT-SIZE: 12px
}
.ArticleSeriesPanel .Heading {
	FONT-SIZE: 12px
}
.ArticleCommentsPanel .Heading {
	FONT-SIZE: 12px
}
.ArticleRelatedLinksPanel .Heading {
	FONT-SIZE: 12px
}
.ViewBlogEntryPanel .Details {
	FONT-SIZE: 10px
}
.ViewBlogEntryPanel .Content {
	MARGIN-TOP: 10px
}
.BlogSummariesPanel .Title {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.BlogSummariesPanel .Title A {
	TEXT-DECORATION: none
}
.BlogSummariesPanel .Title A:hover {
	TEXT-DECORATION: underline
}
.BlogSummariesPanel .Details {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.BlogSummariesPanel .Status TABLE TD {
	FONT-SIZE: 11px
}
.BlogSummariesPanel .Status .Notes {
	FONT-STYLE: italic
}
.BlogSummariesPanel .Content {
	MARGIN-BOTTOM: 10px; LINE-HEIGHT: 18px
}
.BlogSummariesPanel .Content .SmallLinks {
	MARGIN: 10px 10px 20px
}
.BlogSummariesPanel .Content .SmallLinks A {
	TEXT-DECORATION: none
}
.BlogSummariesPanel .Content .SmallLinks .IMG {
	VERTICAL-ALIGN: super
}
.BlogEntryCommentsPanel .Heading {
	FONT-SIZE: 12px
}
.SearchResultsPanel .Content {
	LINE-HEIGHT: 18px
}
.ViewAuthorPanel .AuthorPicture {
	MARGIN: 0px 10px 10px 0px
}
.ViewAccountPanel .AuthorPicture {
	MARGIN: 0px 10px 10px 0px
}
.Paging {
	FONT-SIZE: 11px; FONT-FAMILY: Arial
}
.AdvancedSearchPanel {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 1px
}
