<style>
<!--

body,p,dl,dt        { font-family: Verdana; font-size: 10pt; color:#000000 }
dd,td,th,.submit    { font-family: Verdana; font-size: 10pt; color:#000000 }
                    
.related_keyword    { font-family: Verdana; font-size: 8pt; font-style: italic; color:#464646 }
.related            { font-family: Verdana; font-size: 10pt; color:#464646 }

a:link              { color:#000000 }
a:active            { color:#808080 }
a.whitelink         { text-decoration: none; }
a.related           { color:#464646 }
a:visited.whitelink { text-decoration: none; color:#000000; }

a:hover             { color:#464646 }
a:hover.related     { color:#000000 }

input,textarea      { font-family:monospace; font-size:10pt; }

.iTt{
    FONT-FAMILY:       Verdana, Arial, Helvetica;
    FONT-SIZE:         11px;
    FONT-STYLE:        normal;
    FONT-WEIGHT:       normal;
    COLOR:             black;
    BACKGROUND-COLOR:  lightyellow;
    BORDER:            black 1px solid;
    PADDING:           2px;
}

-->
</style>
