.backTopicTitle {
	BORDER-RIGHT: #d0dbef 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; BORDER-TOP: #d0dbef 1px solid; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/main/images/topic_title_back.gif); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #d0dbef 1px solid; COLOR: #003399; PADDING-TOP: 0px; BORDER-BOTTOM: #d0dbef 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: white
}
.backTopicTitle H1 {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 22px; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 7px
}
.onThisPage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 10px 4px 0px 10px; COLOR: #003399; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.tight_dataSourceTitle {
	BORDER-RIGHT: #d0dbef 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; BORDER-TOP: #d0dbef 1px solid; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND-IMAGE: url(/main/images/ds_blue_back.gif); PADDING-BOTTOM: 3px; MARGIN: 10px 0px 8px; BORDER-LEFT: #d0dbef 1px solid; COLOR: #003399; PADDING-TOP: 2px; BORDER-BOTTOM: #d0dbef 1px solid; BACKGROUND-REPEAT: repeat-x
}
.tight_dataSourceTitle A {
	TEXT-DECORATION: none
}
.tight_dataSourceTitle A.ilnk {
	TEXT-DECORATION: underline
}
.didYouMean {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 10px; PADDING-TOP: 4px
}
.topArrow {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 6px 0px 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.copyrightImage {
	BORDER-RIGHT: #d0dbef 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d0dbef 1px solid; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: -6px 4px 0px 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #d0dbef 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #d0dbef 1px solid
}
.tight_dataSourceTitle TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: black; PADDING-TOP: 0px
}
.tight_dsName {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #003399
}
.enhancedGoogle {
	BORDER-RIGHT: #d0dbef 1px solid; BORDER-TOP: #d0dbef 1px solid; MARGIN: -2px -2px -2px 10px; VERTICAL-ALIGN: top; BORDER-LEFT: #d0dbef 1px solid; BORDER-BOTTOM: #d0dbef 1px solid
}
