#footer {
	CLEAR: both
}
DIV.floatright {
	FLOAT: right; MARGIN: 0px 0px 1em 1em
}
DIV.floatright P {
	FONT-STYLE: italic
}
DIV.floatleft {
	FLOAT: left; MARGIN: 0.3em 0.5em 0.5em 0px
}
DIV.floatleft P {
	FONT-STYLE: italic
}
.urlexpansion {
	DISPLAY: none
}
.printfooter {
	DISPLAY: none
}
TABLE.rimage {
	FONT-SIZE: smaller; FLOAT: right; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 1em; TEXT-ALIGN: center
}
DIV.thumb {
	MARGIN: 10px; WIDTH: auto; TEXT-ALIGN: center
}
DIV.thumb DIV {
	BORDER-RIGHT: #8888aa 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #8888aa 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 94%; PADDING-BOTTOM: 2px; OVERFLOW: hidden; BORDER-LEFT: #8888aa 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #8888aa 1px solid; BACKGROUND-COLOR: #f7f8ff; TEXT-ALIGN: center
}
DIV.thumb DIV  {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
DIV.thumb IMG {
	BORDER-RIGHT: #8888aa 1px solid; BORDER-TOP: #8888aa 1px solid; BACKGROUND: #ffffff; MARGIN-BOTTOM: 3px; BORDER-LEFT: #8888aa 1px solid; BORDER-BOTTOM: #8888aa 1px solid
}
DIV.thumbcaption {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
DIV.thumbcaption  {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
DIV.thumbcaption {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0.2em! important; PADDING-TOP: 0.2em! important; TEXT-ALIGN: left! important
}
DIV.tright {
	FLOAT: right; MARGIN-LEFT: 0.5em
}
DIV.tleft {
	FLOAT: left; MARGIN-RIGHT: 0.5em
}
.autocomment {
	COLOR: #4b4b4b
}
#pagehistory SPAN.user {
	MARGIN-LEFT: 1.4em; MARGIN-RIGHT: 0.4em
}
#pagehistory SPAN.minor {
	FONT-WEIGHT: bold
}
#pagehistory LI {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
#pagehistory LI.selected {
	BORDER-RIGHT: #aaaaaa 1px dashed; BORDER-TOP: #aaaaaa 1px dashed; BORDER-LEFT: #aaaaaa 1px dashed; BORDER-BOTTOM: #aaaaaa 1px dashed; BACKGROUND-COLOR: #f9f9f9
}
TABLE.diff {
	BACKGROUND: white
}
TD.diff-otitle {
	BACKGROUND: #cccccc
}
TD.diff-ntitle {
	BACKGROUND: #cccccc
}
TD.diff-addedline {
	FONT-SIZE: 94%; BACKGROUND: #ccffcc
}
TD.diff-deletedline {
	FONT-SIZE: 94%; BACKGROUND: #ffffaa
}
TD.diff-context {
	FONT-SIZE: 94%; BACKGROUND: #eeeeee
}
SPAN.diffchange {
	FONT-WEIGHT: bold; COLOR: red
}
IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
IMG.tex {
	VERTICAL-ALIGN: middle
}
SPAN.texhtml {
	FONT-FAMILY: serif
}
#toc {
	BORDER-RIGHT: #8888aa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8888aa 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 95%; PADDING-BOTTOM: 5px; BORDER-LEFT: #8888aa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #8888aa 1px solid; BACKGROUND-COLOR: #f7f8ff
}
#toc .tocindent {
	MARGIN-LEFT: 2em
}
#toc .tocline {
	MARGIN-BOTTOM: 0px
}
#toc P {
	MARGIN: 0px
}
#toc .toctoggle {
	FONT-SIZE: 95%
}
#toc .editsection {
	MARGIN-TOP: 0.7em; FONT-SIZE: 94%
}
.error {
	FONT-SIZE: larger; COLOR: red
}
#preftoc {
	FLOAT: left; MARGIN: 1em; WIDTH: 13em
}
#preftoc LI {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
#preftoc LI.selected {
	BORDER-RIGHT: #aaaaaa 1px dashed; BORDER-TOP: #aaaaaa 1px dashed; BORDER-LEFT: #aaaaaa 1px dashed; BORDER-BOTTOM: #aaaaaa 1px dashed; BACKGROUND-COLOR: #f9f9f9
}
#preftoc A {
	DISPLAY: block; COLOR: #005189
}
#preftoc A:active {
	DISPLAY: block; COLOR: #005189
}
#prefcontrol {
	CLEAR: left; MARGIN-TOP: 1em; FLOAT: left
}
DIV.prefsectiontip {
	MARGIN-TOP: 1em; FONT-SIZE: 94%
}
FIELDSET.prefsection {
	MARGIN-TOP: 1em
}
FIELDSET.operaprefsection {
	MARGIN-LEFT: 15em
}
.center {
	WIDTH: 100%; TEXT-ALIGN: center
}
.center  {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.small {
	FONT-SIZE: 94%
}
.small  {
	FONT-SIZE: 94%
}
TABLE.small {
	FONT-SIZE: 100%
}
DIV.townBox {
	CLEAR: right; BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: gray 1px solid; PADDING-LEFT: 0.3em; BACKGROUND: white; FLOAT: right; PADDING-BOTTOM: 0.3em; MARGIN-LEFT: 1em; OVERFLOW: hidden; BORDER-LEFT: gray 1px solid; WIDTH: 200px; PADDING-TOP: 0.3em; BORDER-BOTTOM: gray 1px solid; POSITION: relative
}
DIV.townBox DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 96%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.3em; PADDING-TOP: 0px
}
DIV.townBox DL DT {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0.4em 0px 0px
}
DIV.townBox DL DD {
	MARGIN: 0.1em 0px 0px 1.1em; BACKGROUND-COLOR: #f3f3f3
}
.toccolours {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 95%; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
#siteNotice {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid
}
.redirectText {
	FONT-SIZE: 150%; MARGIN: 5px
}
.searchmatch {
	FONT-WEIGHT: bold; COLOR: red
}
.sharedUploadNotice {
	FONT-STYLE: italic
}
SPAN.unpatrolled {
	FONT-WEIGHT: bold; COLOR: red
}
SPAN.updatedmarker {
	COLOR: black; BACKGROUND-COLOR: #00ff00
}
SPAN.newpageletter {
	FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: yellow
}
SPAN.minoreditletter {
	COLOR: black; BACKGROUND-COLOR: #c5ffe6
}
TABLE.gallery {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.gallery TR {
	VERTICAL-ALIGN: top
}
TABLE.gallery TD {
	BORDER-RIGHT: white 2px solid; BORDER-TOP: white 2px solid; VERTICAL-ALIGN: top; BORDER-LEFT: white 2px solid; BORDER-BOTTOM: white 2px solid; BACKGROUND-COLOR: #f9f9f9
}
DIV.gallerybox {
	MARGIN: 2px; WIDTH: 150px
}
DIV.gallerybox DIV.thumb {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 2px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
DIV.gallerytext {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 94%; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#fundraising {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: gray 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: gray 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: gray 1px solid; TEXT-ALIGN: center
}
TABLE.wikitable {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BACKGROUND: #f9f9f9; MARGIN: 1em 1em 1em 0px; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.prettytable {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BACKGROUND: #f9f9f9; MARGIN: 1em 1em 1em 0px; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.wikitable TH {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.wikitable TD {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.prettytable TH {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.prettytable TD {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.wikitable TH {
	BACKGROUND: #f2f2f2; TEXT-ALIGN: center
}
TABLE.prettytable TH {
	BACKGROUND: #f2f2f2; TEXT-ALIGN: center
}
TABLE.wikitable CAPTION {
	
}
TABLE.prettytable CAPTION {
	
}
.notice {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 1em; PADDING-TOP: 0.2em; TEXT-ALIGN: justify
}
#disambig {
	BORDER-TOP: #cccccc 3px double; BORDER-BOTTOM: #cccccc 3px double
}
#spoiler {
	BORDER-TOP: #ddd 2px solid; BORDER-BOTTOM: #ddd 2px solid
}
.Talk-Notice {
	BORDER-RIGHT: #c0c090 1px solid; BORDER-TOP: #c0c090 1px solid; MARGIN-BOTTOM: 3px; MARGIN-LEFT: auto; BORDER-LEFT: #c0c090 1px solid; WIDTH: 85%; MARGIN-RIGHT: auto; BORDER-BOTTOM: #c0c090 1px solid; BACKGROUND-COLOR: #f8eaba; border-spacing: 3px
}
.Talk-Notice TD {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.Use_Default_Date_Convention {
	DISPLAY: inline
}
.Use_AD_and_BC {
	DISPLAY: none
}
.Use_BCE_and_CE {
	DISPLAY: none
}
.plainlinksneverexpand {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.plainlinksneverexpand .urlexpansion {
	DISPLAY: none! important
}
.plainlinksneverexpand A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.plainlinksneverexpand A.text:unknown {
	DISPLAY: none! important
}
.plainlinksneverexpand A.autonumber:unknown {
	DISPLAY: none! important
}
.messagebox {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 0px auto 1em; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 85%; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: justify
}
.merge {
	BORDER-RIGHT: #cf9fff 1px solid; BORDER-TOP: #cf9fff 1px solid; BORDER-LEFT: #cf9fff 1px solid; BORDER-BOTTOM: #cf9fff 1px solid; BACKGROUND-COLOR: #f5edf5; TEXT-ALIGN: center
}
.cleanup {
	BORDER-RIGHT: #9f9fff 1px solid; BORDER-TOP: #9f9fff 1px solid; BORDER-LEFT: #9f9fff 1px solid; BORDER-BOTTOM: #9f9fff 1px solid; BACKGROUND-COLOR: #efefff; TEXT-ALIGN: center
}
.standard-talk {
	BORDER-RIGHT: #c0c090 1px solid; BORDER-TOP: #c0c090 1px solid; BORDER-LEFT: #c0c090 1px solid; BORDER-BOTTOM: #c0c090 1px solid; BACKGROUND-COLOR: #f8eaba
}
.infobox {
	CLEAR: both; BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; FLOAT: right; PADDING-BOTTOM: 0.2em; MARGIN: 20px 10px 10px; BORDER-LEFT: #aaaaaa 1px solid; COLOR: black; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.infobox TR {
	VERTICAL-ALIGN: top
}
.infobox CAPTION {
	
}
.bordered {
	BORDER-COLLAPSE: collapse
}
.bordered TD {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid
}
.bordered TH {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid
}
.sisterproject {
	WIDTH: 22em
}
.IPA {
	FONT-FAMILY: inherit
}
.Unicode {
	FONT-FAMILY: inherit
}
.polytonic {
	FONT-FAMILY: inherit
}
#wpSave {
	FONT-WEIGHT: bold
}
.hiddenStructure {
	DISPLAY: none; speak: none
}
.nounderlines A {
	TEXT-DECORATION: none
}
#EnWpMainPage {
	MARGIN-TOP: 1em; WIDTH: 100%
}
#EnWpMainPage H2 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 130%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#EnWpMpMargin {
	MARGIN-RIGHT: 13.8em
}
#EnWpMpCol1 {
	CLEAR: left; FLOAT: left; WIDTH: 50%
}
#EnWpMpCol2 {
	FLOAT: left; WIDTH: 49.9%
}
#EnWpMpBrowse {
	BORDER-RIGHT: #c7c7c7 1px solid; BORDER-TOP: #c7c7c7 1px solid; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/en/9/9f/MP-three-books.png) #f8fcff no-repeat 180% 9%; BORDER-LEFT: #c7c7c7 1px solid; BORDER-BOTTOM: #c7c7c7 1px solid
}
#EnWpMpBrowseCats LI {
	FONT-SIZE: 85%; MARGIN-LEFT: 1em; LINE-HEIGHT: 1.5
}
#EnWpMpBrowseCats H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 0.2em 0px 0.1em -0.8em; PADDING-TOP: 0px
}
#EnWpMpBrowseCats H3 A {
	FONT-WEIGHT: bold
}
#EnWpMpBook {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/en/7/7e/MP-open-book.png)
}
#EnWpMpFeaturedPic {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; MARGIN: 0px 0px 0.5em; TEXT-ALIGN: center
}
#EnWpMpFeaturedPic H2 {
	FONT-SIZE: 145%; TEXT-ALIGN: left
}
.EnWpMpBrowseRight {
	FLOAT: right; WIDTH: 12.7em
}
.EnWpMpBrowseBottom {
	MARGIN: 1em 0px
}
.EnWpMpBrowseBottom #EnWpMpBrowseCats LI {
	FLOAT: left; MARGIN: 0px; WIDTH: 24%
}
.EnWpMpBrowseBottom #EnWpMpUsefulLinks {
	FLOAT: left; MARGIN: 0px; WIDTH: 24%
}
.EnWpMpBrowseBottom #EnWpMpFeaturedPic {
	FLOAT: left; MARGIN: 0px; WIDTH: 24%
}
.EnWpMpBrowseBottom #EnWpMpBrowseCats H3 {
	MARGIN-LEFT: 0px
}
#EnWpMpUsefulLinks {
	CLEAR: left
}
#EnWpMpSearch {
	BACKGROUND: url(http://upload.wikimedia.org/wikipedia/en/a/ae/MP-magnifying-glass.png) no-repeat right top
}
#EnWpMpSearch INPUT {
	VERTICAL-ALIGN: middle
}
#EnWpMpSearchInner {
	FLOAT: right; WIDTH: 20em; TEXT-ALIGN: center
}
#bodySearchMP {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#bodySearchMP .bodySearchWrap {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0.8em; WIDTH: 17.5em; PADDING-TOP: 0.8em; TEXT-ALIGN: left
}
#bodySearchMP LABEL {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 95%; MARGIN-BOTTOM: -0.2em
}
#bodySearchMP .bodySearchIput {
	FILTER: alpha(opacity=85); opacity: .85
}
#bodySearchMP .bodySearchBtnGo {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; MARGIN-LEFT: 0.5em
}
.EnWpMpContentBox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 0.9em; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#EnWpMpCol2 .EnWpMpContentBox {
	MARGIN-LEFT: 0.9em
}
.EnWpMpImage {
	FLOAT: right; MARGIN: 0px 0px 0.2em 0.2em
}
.EnWpMpImage IMG {
	Z-INDEX: 3; POSITION: relative
}
#EnWpMpSisterProjects {
	FLOAT: left; WIDTH: 49%
}
.EnWpMpSisterProject {
	FLOAT: left; MARGIN: 0px; WIDTH: 17em; HEIGHT: 5.5em
}
.EnWpMpSisterImg {
	FLOAT: left; WIDTH: 40px; HEIGHT: 100%
}
#EnWpMpOtherLangs {
	MARGIN-LEFT: 50%
}
#EnWpMainPageNoCSS {
	DISPLAY: none
}
.metadata {
	DISPLAY: none; speak: none
}
