BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 95%; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
#top {
	MARGIN-BOTTOM: 10px
}
#header {
	MARGIN-BOTTOM: -5px; MARGIN-RIGHT: 160px; WHITE-SPACE: nowrap
}
#header IMG {
	PADDING-TOP: 5px
}
FORM#lookup {
	DISPLAY: inline; MARGIN-LEFT: 10px; VERTICAL-ALIGN: bottom; BOTTOM: 2px
}
FORM#lookup #s {
	MARGIN-LEFT: 10px; VERTICAL-ALIGN: bottom; WIDTH: 170px
}
FORM#lookup #go {
	VERTICAL-ALIGN: bottom
}
FORM#lookup #answersLogo {
	VERTICAL-ALIGN: bottom
}
#hmiddle {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
#left {
	LEFT: 20px; WIDTH: 120px; POSITION: absolute; TOP: 88px
}
A {
	COLOR: #003399
}
TABLE#search {
	BORDER-RIGHT: #003399 1px solid; BORDER-TOP: #003399 1px solid; BORDER-LEFT: #003399 1px solid; WIDTH: 100%; BORDER-BOTTOM: #003399 1px solid
}
TABLE#search #header {
	FONT-WEIGHT: bold; BACKGROUND: #003399; COLOR: white
}
#middle {
	
}
#right {
	RIGHT: 6px; WIDTH: 139px; POSITION: absolute; TOP: 88px; TEXT-ALIGN: left
}
#right A {
	DISPLAY: block; MARGIN-BOTTOM: 10px
}
#right TABLE {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.blueHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN-LEFT: 0px; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Trebuchet MS, sans-serif
}
#body {
	MARGIN-TOP: 10px; MARGIN-RIGHT: 155px
}
.callout {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #003399; LINE-HEIGHT: 14px; FONT-FAMILY: Trebuchet MS,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A.callout {
	TEXT-DECORATION: underline
}
.content {
	
}
DIV.content {
	MARGIN-TOP: 5px; FONT-SIZE: 13px; MARGIN-BOTTOM: 12px; MARGIN-LEFT: 6px; OVERFLOW: hidden
}
.contentb {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Trebuchet MS,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
.tab-footer {
	CLEAR: both; MARGIN-TOP: 10px; FONT-SIZE: 9pt; MARGIN-BOTTOM: 10px
}
A.top-link {
	MARGIN-TOP: 0px; FLOAT: right; MARGIN-LEFT: 3px
}
.backTopicTitle H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 22px; PADDING-BOTTOM: 9px; MARGIN: 0px; PADDING-TOP: 5px; HEIGHT: 100%; min-height: 30px
}
H2.tab-title2 {
	MARGIN-TOP: 7px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-BOTTOM: 10px; COLOR: #008000; PADDING-TOP: 4px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#powered_by {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt
}
.nobr {
	WHITE-SPACE: nowrap
}
#tabs {
	COLOR: black
}
#tabs B {
	FONT-SIZE: 105%
}
#tabs UL {
	DISPLAY: inline; PADDING-LEFT: 0px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 2em
}
#tabs UL LI {
	DISPLAY: inline; FONT-WEIGHT: bold; MARGIN-RIGHT: 0.5em
}
#tabs UL LI A {
	MARGIN-RIGHT: 0.5em; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
#tabs UL LI A:visited {
	COLOR: blue
}
.topic-list {
	PADDING-LEFT: 0px; MARGIN-LEFT: 1.5em
}
.fts-list {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0em
}
.fts-list-item {
	PADDING-RIGHT: 0em; PADDING-LEFT: 1.2em; MARGIN-LEFT: 0em; TEXT-INDENT: -1.2em; cell-spacing: 1em
}
.small {
	FONT-SIZE: 8pt
}
.hw {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #003399
}
.shw {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003399
}
.smallhead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
.infl {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
.kw {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
.schdirlink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
.schdir {
	FONT-SIZE: 8pt
}
.schdesc {
	FONT-SIZE: 8pt
}
.schlink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt
}
.notelab {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-STYLE: italic
}
.idiom {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-STYLE: italic
}
.pron {
	FONT-SIZE: 10pt; FONT-FAMILY: "Lucida Sans Unicode"
}
.emon {
	FONT-STYLE: italic
}
A.unvisited {
	COLOR: blue
}
P.note {
	FONT-SIZE: 9pt; FONT-FAMILY: "Lucida Sans Unicode", "Trebuchet MS"
}
P.copyright {
	MARGIN-TOP: 0px; FONT-SIZE: 8pt
}
P.ety {
	COLOR: #666666; FONT-FAMILY: "Helvetica Neue", "Arial", "Verdana", sans-serif
}
.Arial8 {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial
}
.Arial9 {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial
}
A.ilnk {
	COLOR: #008000
}
.hl0 {
	BACKGROUND-COLOR: #ffff00
}
.hl1 {
	BACKGROUND-COLOR: #00ffff
}
.hl2 {
	BACKGROUND-COLOR: #ff00ff
}
.hl3 {
	BACKGROUND-COLOR: #00ff00
}
.hl4 {
	BACKGROUND-COLOR: #ff0000
}
.epick {
	BORDER-RIGHT: #a4b4aa 5px solid; BORDER-TOP: #e1e0e0 5px solid; BORDER-LEFT: #e1e0e0 5px solid; BORDER-BOTTOM: #a4b4aa 5px solid; TEXT-DECORATION: none
}
plain {
	TEXT-DECORATION: none
}
.ds-separator {
	PADDING-TOP: 1px; HEIGHT: 12px
}
HR.greenSeparator {
	BORDER-RIGHT: #008000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #008000 1px solid; PADDING-LEFT: 0px; VISIBILITY: visible; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; BORDER-LEFT: #008000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #008000 1px solid
}
HR.separator {
	VISIBILITY: visible; MARGIN-LEFT: 0px; COLOR: #ccc
}
HR.grayseparator {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; VISIBILITY: visible; MARGIN-LEFT: 0px; BORDER-LEFT: 0px; COLOR: #e1e0e0; BORDER-BOTTOM: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #e1e0e0
}
HR {
	VISIBILITY: hidden
}
.footer {
	MARGIN-TOP: 5px; FONT-SIZE: 9pt; TEXT-ALIGN: center
}
.footer A {
	COLOR: #003399; MARGIN-RIGHT: 1em; WHITE-SPACE: nowrap
}
.footer A:hover {
	COLOR: #61a900
}
.epick-domain {
	COLOR: #808080
}
.dym-prefix {
	FONT-SIZE: 13px; COLOR: #ff0000; LINE-HEIGHT: 14px; FONT-FAMILY: Trebuchet MS,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
.plink {
	MARGIN-LEFT: 1em; CURSOR: hand
}
.leftlink {
	FONT-SIZE: 11px; COLOR: #003399; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.leftlink A {
	COLOR: #003399; TEXT-DECORATION: none
}
.bordered-iframe {
	BORDER-RIGHT: #a4b4aa 5px solid; BORDER-TOP: #e1e0e0 5px solid; MARGIN: 0px; BORDER-LEFT: #e1e0e0 5px solid; BORDER-BOTTOM: #a4b4aa 5px solid; TEXT-DECORATION: none
}
.pointer {
	CURSOR: hand
}
#resultMenu {
	BORDER-RIGHT: #b0dfb0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b0dfb0 1px solid; MARGIN-TOP: -20px; DISPLAY: none; PADDING-LEFT: 5px; Z-INDEX: 50; PADDING-BOTTOM: 5px; MARGIN-LEFT: 423px; BORDER-LEFT: #b0dfb0 1px solid; WIDTH: 110px; PADDING-TOP: 5px; BORDER-BOTTOM: #b0dfb0 1px solid; POSITION: absolute; BACKGROUND-COLOR: #f2fef3
}
.dataSourceTitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 17px; PADDING-BOTTOM: 0px; COLOR: #008000; PADDING-TOP: 0px
}
A.dataSourceTitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 17px; PADDING-BOTTOM: 0px; COLOR: #008000; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.copyrightImage {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 10px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; PADDING-TOP: 7px; BORDER-BOTTOM: 0px
}
#copyrightTable {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; WIDTH: 100%; COLOR: #595959; PADDING-TOP: 3px
}
.grayHeading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 17px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #595959; PADDING-TOP: 2px
}
A.taxonomy {
	FONT-SIZE: 12px; COLOR: #316ca5
}
A.taxonomy:hover {
	COLOR: #709ecb
}
A.taxonomySelect {
	BORDER-RIGHT: #9abce2 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #9abce2 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #9abce2 1px solid; COLOR: #3a6aa0; PADDING-TOP: 0px; BORDER-BOTTOM: #9abce2 1px solid; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
A.taxonomySelect:hover {
	COLOR: #709ecb
}
A.grayLink {
	FONT-SIZE: 11px; COLOR: #595959
}
A.grayLink:hover {
	COLOR: #709ecb
}
.copyrightDescription {
	COLOR: #000
}
A.breadcrumb {
	FONT-SIZE: 11px; COLOR: #7d0303
}
.pageTools {
	CLEAR: both
}
.ads {
	
}
DIV.ads {
	FLOAT: left; MARGIN-BOTTOM: 12px; WIDTH: 99%
}
#topicTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 22px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%; min-height: 40px
}
.tellMeAboutBox {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(/main/images/tell_me_about.gif); MARGIN-LEFT: 10px; WIDTH: 170px; COLOR: #000000; BACKGROUND-REPEAT: no-repeat
}
.emptyBox {
	MARGIN-LEFT: 10px; WIDTH: 170px; COLOR: #000000
}
.innercallout {
	FONT-WEIGHT: bold; COLOR: #003399; LINE-HEIGHT: 14px; FONT-FAMILY: Trebuchet MS,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A.innercallout {
	TEXT-DECORATION: underline
}
A.innercallout:hover {
	COLOR: #61a900
}
A.greenLink {
	COLOR: green
}
A.greenLink:hover {
	COLOR: #7ebe00
}
.printPreviewLogo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.bodyHead {
	PADDING-LEFT: 4px; MARGIN-LEFT: auto; WIDTH: 775px; MARGIN-RIGHT: auto
}
.lookupImg {
	MARGIN-TOP: 3px
}
.lookupImgFooter {
	
}
.toolbarAd {
	CLEAR: both; FONT-WEIGHT: bold; MARGIN: 19px 0px 16px; WIDTH: 100%; BACKGROUND-COLOR: #f5f7fe; TEXT-ALIGN: center
}
.box {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 6px; FONT-SIZE: 13px; Z-INDEX: 10000; PADDING-BOTTOM: 6px; BORDER-LEFT: #000000 1px solid; WIDTH: 410px; PADDING-TOP: 6px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
.box UL {
	PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px auto 0px 15px; PADDING-TOP: 0px
}
.box LI {
	BACKGROUND-IMAGE: none; MARGIN: auto
}
.topHeaderLink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 24px 6px 0px 0px; COLOR: #003399; PADDING-TOP: 0px
}
.copyrightFooter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; COLOR: #9b9a9a; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#outline {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; PADDING-BOTTOM: 5px; ; WIDTH: expression(documentElement.clientWidth > 1024? "1024px" : (documentElement.clientWidth < 860? "800px" : "auto")); PADDING-TOP: 5px; min-width: 800px; max-width: 1024px
}
#new_left {
	PADDING-RIGHT: 17px; FLOAT: left; MARGIN-BOTTOM: 12px; ; WIDTH: expression(documentElement.clientWidth > 1024? "704px" :  "auto"); MARGIN-RIGHT: 300px; min-width: 480px; max-width: 704px
}
#new_right {
	MARGIN-TOP: 20px; FLOAT: left; MARGIN-BOTTOM: 12px; MARGIN-LEFT: -302px; WIDTH: 300px
}
#footer {
	CLEAR: both; POSITION: relative
}
#wikiDonate {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; HEIGHT: 20px; BACKGROUND-COLOR: #f6f6f6
}
.mentionedInTable {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING-BOTTOM: 10px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.didYouMean {
	MARGIN-LEFT: 10px
}
.mentionedInColumn {
	WIDTH: 280px
}
#wpcontent {
	OVERFLOW: hidden; ; WIDTH: expression(documentElement.clientWidth < 1024 ? (((documentElement.clientWidth - 370) < 480) ? "480px" : (documentElement.clientWidth - 370)) : "704px")
}
#widePic IMG {
	OVERFLOW: hidden; ; WIDTH: expression(documentElement.clientWidth < 1024 ? (((documentElement.clientWidth - 370) < 480) ? "470px" : (documentElement.clientWidth - 370)) : "auto")
}
#wrapFayt {
	MARGIN-LEFT: auto; WIDTH: 772px; MARGIN-RIGHT: auto; POSITION: relative
}
.gallery {
	CLEAR: both
}
 HTML DIV#wrapFayt {
	HEIGHT: 1%
}
 HTML DIV#footer {
	HEIGHT: 1%
}
#answersLogo {
	VERTICAL-ALIGN: bottom
}
#lookup1 {
	PADDING-LEFT: 7px
}
#featured-star {
	DISPLAY: none
}
#spoken-icon {
	DISPLAY: none
}
#moreAlbumsLink {
	FLOAT: right; COLOR: #003399; TEXT-DECORATION: underline
}
#lessAlbumsLink {
	FLOAT: right; COLOR: #003399; TEXT-DECORATION: underline
}
#moreMoviesLink {
	FLOAT: right; COLOR: #003399; TEXT-DECORATION: underline
}
#lessMoviesLink {
	FLOAT: right; COLOR: #003399; TEXT-DECORATION: underline
}
#moreAlbums {
	DISPLAY: none
}
#moreMovies {
	DISPLAY: none
}
#lessAlbumsLink {
	DISPLAY: none
}
#lessMoviesLink {
	DISPLAY: none
}
#afdiv .disclaimer {
	PADDING-RIGHT: 10px; FONT-SIZE: 14px; FLOAT: right; TEXT-DECORATION: underline
}
#lookupMenuHeader {
	BORDER-RIGHT: #ebe9ed 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ebe9ed 1px solid; DISPLAY: none; PADDING-LEFT: 5px; FONT-SIZE: 13px; Z-INDEX: 2; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: -4px 0px 0px; BORDER-LEFT: #ebe9ed 1px solid; WIDTH: 60px; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #ebe9ed 1px solid; POSITION: absolute; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
#lookupMenuFooter {
	BORDER-RIGHT: #ebe9ed 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ebe9ed 1px solid; DISPLAY: none; PADDING-LEFT: 5px; FONT-SIZE: 13px; Z-INDEX: 2; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: -4px 0px 0px; BORDER-LEFT: #ebe9ed 1px solid; WIDTH: 60px; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #ebe9ed 1px solid; POSITION: absolute; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
#lookupMenuFooter {
	BOTTOM: 27px
}
#lookupMenuHeader A {
	CURSOR: hand; COLOR: #000; TEXT-DECORATION: none
}
#lookupMenuFooter A {
	CURSOR: hand; COLOR: #000; TEXT-DECORATION: none
}
#lookupMenuFooter A:hover {
	COLOR: #7ebe00
}
#lookupMenuHeader A:hover {
	COLOR: #7ebe00
}
#goHeaderButton {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 17px 0px 0px; PADDING-TOP: 0px
}
#goFooterButton {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 1px 0px 0px; PADDING-TOP: 0px
}
.wrapGoButtonHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 629px; PADDING-TOP: 0px
}
.wrapGoButtonFooter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 480px; PADDING-TOP: 0px; POSITION: relative; TEXT-ALIGN: center
}
.disclaimer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; COLOR: #003399; PADDING-TOP: 0px
}
A.disclaimer:hover {
	COLOR: #7ebe00
}
#webAnswers {
	BORDER-RIGHT: #d0dbef 1px solid; BORDER-TOP: #d0dbef 1px solid; OVERFLOW: hidden; BORDER-LEFT: #d0dbef 1px solid; BORDER-BOTTOM: #d0dbef 1px solid; HEIGHT: 45px; BACKGROUND-COLOR: #f3f6fe
}
#collapseButton {
	DISPLAY: none; FLOAT: right; MARGIN: -27px 5px 0px 0px
}
#expandButton {
	DISPLAY: none; MARGIN: 2px 5px 0px 0px
}
.webAnswersTitle {
	PADDING-RIGHT: 12px; BACKGROUND-POSITION: left top; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 17px; FLOAT: left; BACKGROUND-IMAGE: url(/main/images/backWebAnswers.gif); PADDING-BOTTOM: 8px; MARGIN: 1px 20px 0px 1px; COLOR: #003399; PADDING-TOP: 2px; BACKGROUND-REPEAT: repeat-x
}
.webAnswersList {
	PADDING-RIGHT: 0px; MARGIN-TOP: 2px; PADDING-LEFT: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.floatRightBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 17px; TEXT-ALIGN: center
}
#webAnswersExpanded {
	BORDER-RIGHT: #d0dbef 1px solid; BORDER-TOP: 0px; BORDER-LEFT: #d0dbef 1px solid; BORDER-BOTTOM: #d0dbef 1px solid; BACKGROUND-COLOR: #f3f6fe
}
#webAnswersExpanded .tight_dataSourceTitle {
	MARGIN: 0px
}
.tight_dataSourceTitle .disclaimer {
	MARGIN-TOP: 3px; FONT-SIZE: 11px; FLOAT: right; COLOR: #003399; MARGIN-RIGHT: 9px; TEXT-DECORATION: underline
}
#wrapWebAnswers {
	
}
#bblist LI {
	VERTICAL-ALIGN: middle
}
#bblist {
	MARGIN-RIGHT: 75px
}
.redBeta {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: Arial,sans-serif
}
.externalLink {
	
}
#encyclodict {
	PADDING-TOP: 4px
}
