DIV.gray_uedge {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/gray_div.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x
}
DIV.gray_redge {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/gray_div.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-y
}
DIV.gray_bedge {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/main/images/roundedBorders/gray_div.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x
}
DIV.gray_ledge {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/gray_div.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-y
}
DIV.gray_ulcorner {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/gray_topLeft.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
DIV.gray_urcorner {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/gray_topRight.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
DIV.gray_blcorner {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/main/images/roundedBorders/gray_bottomLeft.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
DIV.gray_brcorner {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(/main/images/roundedBorders/gray_bottomRight.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
DIV.gradient_uedge {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/darkGray_div.gif); PADDING-BOTTOM: 10px; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x
}
DIV.gradient_redge {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/darkGray_div.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-y
}
DIV.gradient_bedge {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/main/images/roundedBorders/lightGray_div.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x
}
DIV.gradient_ledge {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/darkGray_div.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-y
}
DIV.gradient_ulcorner {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/gray_topLeft.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
DIV.gradient_urcorner {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/gray_topRight.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
DIV.gradient_blcorner {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/main/images/roundedBorders/grayGradient_bottomLeft.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
DIV.gradient_brcorner {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(/main/images/roundedBorders/grayGradient_bottomRight.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 50px
}
DIV.navigation_uedge {
	WIDTH: 100%; BACKGROUND-COLOR: #f9f9f9
}
DIV.navigation_redge {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/lightDiv.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-y
}
DIV.navigation_bedge {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/main/images/roundedBorders/darkDiv.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x
}
DIV.navigation_ledge {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/darkDiv.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-y
}
DIV.navigation_ulcorner {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/navigation_topLeft.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
DIV.navigation_urcorner {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/navigation_topRight.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
DIV.navigation_blcorner {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/main/images/roundedBorders/navigation_bottomLeft.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
DIV.navigation_brcorner {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(/main/images/roundedBorders/navigation_bottomRight.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
.backTopicTitle {
	BACKGROUND-POSITION: left top; FONT-WEIGHT: bold; FONT-SIZE: 22px; BACKGROUND-IMAGE: url(/main/images/roundedBorders/solidBlueTopLeft.gif); MARGIN-BOTTOM: 3px; WIDTH: 100%; COLOR: #003399; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f4f6fe
}
.backTopicTitle DIV {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/solidBlueTopRight.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
.backTopicTitle DIV DIV {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/main/images/roundedBorders/solidBlueBottomLeft.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
.backTopicTitle DIV DIV DIV {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(/main/images/roundedBorders/solidBlueBottomRight.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
.pageTools {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/tools_div.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; HEIGHT: 37px
}
.pageTools DIV {
	BACKGROUND-POSITION: left bottom; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(/main/images/roundedBorders/tools_div.gif); WIDTH: 100%; COLOR: #003399; BACKGROUND-REPEAT: repeat-x; HEIGHT: 37px
}
.pageTools DIV DIV {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/tools_rightCorner.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 37px
}
.pageTools DIV DIV DIV {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/main/images/roundedBorders/tools_leftCorner.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 37px
}
.pageTools A {
	FONT-SIZE: 13px; COLOR: #003399
}
.pageTools A:hover {
	FONT-SIZE: 13px; COLOR: #316ca5
}
.pageTools IMG {
	VERTICAL-ALIGN: middle
}
