table {
font-family: Arial, Helvetica, sans-serif;
font-size: 9pt;
font-style: normal;
font-weight: normal;
font-variant: normal;
color: #000000;
background-color: #FFFFFF;
letter-spacing: normal;
text-align: left;
vertical-align: top;
visibility: visible;
line-height: 11pt;
text-decoration: none;
border-bottom-width: 0px;
    }
.generaltext {
font-family: Arial, Helvetica, sans-serif;
font-size: 9pt;
font-style: normal;
font-weight: normal;
font-variant: normal;
color: #000000;
background-color: #FFFFFF;
letter-spacing: normal;
text-align: left;
vertical-align: top;
visibility: visible;
line-height: 11pt;
text-decoration: none;
border-bottom-width: 0px;
    }
.newstext {
font-family: Arial, Helvetica, sans-serif;
font-size: 9pt;
font-style: normal;
font-weight: normal;
font-variant: normal;
color: #000000;
background-color: #DCDCDC;
letter-spacing: normal;
text-align: left;
vertical-align: top;
visibility: visible;
line-height: 11pt;
text-decoration: none;
border-bottom-width: 0px;
    }

.navform {
font-family: Arial, Helvetica, sans-serif;
font-size: 9pt;
font-style: normal;
font-weight: normal;
font-variant: normal;
color: #000000;
letter-spacing: normal;
text-align: left;
vertical-align: top;
line-height: 11pt;
text-decoration: none;
border-bottom-width: 0px;
    }
.insethead {
font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 200;
font-variant: normal;
color: #FFFFFF;
text-decoration: none;
background-color: #000000;
text-align: center;
vertical-align: middle;
overflow: hidden;
height: 15px;
margin: 0px;
}
.introtext {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: italic;
line-height: 13px;
font-weight: normal;
font-variant: normal;
color: #000000;
text-decoration: none;
text-align: left;
margin: 0px;
}
.introsubheads {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 700;
font-variant: normal;
color: #000000;
text-align: left;
vertical-align: top;
visibility: visible;
line-height: 16px;
margin-top: 6px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
.introhead {
font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
font-size: 18px;
font-style: normal;
line-height: 20px;
font-weight: 300;
font-variant: normal;
color: #BB0000;
text-decoration: none;
visibility: visible;
margin: 0px;
}
.kicker {
font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
text-transform: uppercase;
font-size: 10px;
font-style: normal;
line-height: 12px;
font-weight: 600;
font-variant: normal;
color: #000000;
text-decoration: none;
visibility: visible;
margin: 0px;
}
.codescript {
font-family: "Courier New", Courier, mono;
font-size: 12px;
font-style: normal;
font-weight: 700;
font-variant: normal;
color: #0000FF;
margin: 0px;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 12px;
text-indent: 0em;
white-space: pre;
}
.manor {
background-color: #EAE6C7;
}
.hq {
background-color: #FCFAE6;
}
.emp {
color: #BB0000;
background-color: #EAE6C7;
}
.lineodd {
background-color: #EAE6C7;
overflow: hidden;
visibility: visible;
margin: 0px;
}
.lineeven {
background-color: #FCFAE6;
text-decoration: none;
overflow: hidden;
visibility: visible;
margin: 0px;
}
.linecourse {
overflow: hidden;
visibility: inherit;
width: 250px;
line-height: 11px;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 600;
font-variant: normal;
color: #000000;
text-align: left;
margin: 0px;
}
.linedate {
overflow: hidden;
visibility: inherit;
width: 250px;
line-height: 11px;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: italic;
font-weight: normal;
font-variant: normal;
color: #000000;
text-align: left;
margin: 0px;
padding: 0px 0px 0px 24px;
}
a:link {
color: #000055;
colour: navy;
font-style: italic;
text-decoration: underline;
}
a:visited {
color: #003333;
font-style: italic;
text-decoration: none;
}
a:hover {
color: #BB0000;
font-style: italic;
}
#cbar a:visited {
color: #FFFFFF;
font-style: italic;
text-decoration: none;
}
form {
display: inline ;
}

table {
background-color: #FFFFFF;
}
.indent {
padding: 12px 12px 12px 12px;
}
.menugrid {
padding: 3px 3px 3px 3px;
}
.orrible {
    border-width: thin;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}
.indentsides {
padding: 0px 12px 0px 12px;
}
.topsy:link {
        font-size: 14px;
font-style: normal;
color: #1111DD;
}
.topsy:visited {
        font-size: 14px;
font-style: normal;
color: #4444AA;
}
.midsy {
color: black;
}
.basey {
color: green;
}
.typer {
color: #667788;
}
.buttoff {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 200;
        background-color: #BB0000;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        border-top-width: 1px; 
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: #FF4444;
        border-right-color: #770000;
        border-bottom-color: #770000;
        border-left-color: #FF4444;
        height: 16px;
}
.buttoff a:link{
        color: #FFFFFF;
}
.buttoff a:visited{
        color: #FFFFFF;
}
.rhm {
        text-align: right;
}
@media print {
.rhm {
        text-align: right;
visibility: invisible;
}
}
.hugehead {
font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
font-size: 32px;
font-style: normal;
line-height: 40px;
font-weight: 300;
font-variant: normal;
color: #000000;
text-decoration: none;
visibility: visible;
margin: 4px;
}

#mmen {
margin: 12px;
display: block;
padding: 0;
}
#mmen li {
display: block;
list-style: none;
}

#tmen {
margin: 0;
padding: 0;
}

#tmen li {
list-style: none;
display: inline;
}
#tmen ul {
margin: 0;
padding: 0;
list-style: none;
border-bottom: 1px solid #ccc;
}
#tmen ul li {
position: relative;
}
#tmen li ul {
position: absolute;
display: none;
}
/* Styles for Menu Items */
#tmen ul li a {
display: block;
text-decoration: none;
color: #777;
background: #fff; /* IE6 Bug */
padding: 5px;
border: 1px solid #ccc;
border-bottom: 0;
}
/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; height: 1%; }
* * html ul li a { height: 1%; }
*/* End */
#tmen ul li a:hover { color: #E2144A; background: #f9f9f9; } /* Hover Styles */
#tmen li ul li a { padding: 2px 5px; } /* Sub Menu Styles */
#tmen li:hover ul, li.over ul { display: block; } /* The magic */

