A:hover {
	BACKGROUND-COLOR: yellow
}
H3 {
	FONT-SIZE: 16pt; FONT-FAMILY: "Verdana"
}
BODY {
	FONT-SIZE: 15pt; FONT-FAMILY: "Verdana"
}
TABLE.yellow {
	BACKGROUND-COLOR: #ffff66
}
TABLE.aqua {
	BACKGROUND-COLOR: aqua
}
TR {
	FONT-SIZE: 15pt; VERTICAL-ALIGN: top; FONT-FAMILY: "Verdana"
}
TD {
	FONT-SIZE: 15pt; VERTICAL-ALIGN: top; FONT-FAMILY: "Verdana"
}
TT {
	FONT-SIZE: 15pt; VERTICAL-ALIGN: top; FONT-FAMILY: "Verdana"
}
PRE {
	FONT-SIZE: 15pt; VERTICAL-ALIGN: top; FONT-FAMILY: "Verdana"
}
BLOCKQUOTE {
	FONT-SIZE: 15pt; VERTICAL-ALIGN: top; FONT-FAMILY: "Verdana"
}
.navigation {
	BACKGROUND-COLOR: olive
}
