BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
INPUT {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
SELECT {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UL {
	LIST-STYLE-IMAGE: url(../gfx/dot06.gif); MARGIN: 17px
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.deftxt {
	FONT-SIZE: 11px; COLOR: #2d2d2d
}
.deftxt P {
	FONT-SIZE: 11px; COLOR: #2d2d2d
}
.deftxt A {
	COLOR: #5395d0
}
.deftxtb {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2d2d2d
}
.deftxtb P {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2d2d2d
}
.definpt {
	PADDING-LEFT: 5px; FONT-SIZE: 11px; COLOR: #2d2d2d
}
.pikktekst {
	FONT-SIZE: 11px; COLOR: #2d2d2d; LINE-HEIGHT: 16px
}
.pikktekst P {
	FONT-SIZE: 11px; COLOR: #2d2d2d; LINE-HEIGHT: 16px
}
.pikktekst A {
	COLOR: #5395d0; TEXT-DECORATION: underline
}
.v2iketekst {
	FONT-SIZE: 10px; COLOR: #2d2d2d
}
.sisukaart {
	FONT-SIZE: 11px; COLOR: #2d2d2d
}
.sisukaart A {
	COLOR: #5395d0; TEXT-DECORATION: none
}
.kommentaar {
	FONT-SIZE: 11px; COLOR: #676740; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.kommentaar A {
	COLOR: #000000; TEXT-DECORATION: underline
}
.kommentaar-s {
	FONT-SIZE: 11px; COLOR: #004c95; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.uudis {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3e7aad; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.uudis A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3e7aad; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.uudis A:hover {
	COLOR: #3e7aad; TEXT-DECORATION: underline
}
.uudis-kuup2ev {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #2d2d2d
}
.uudis-text {
	FONT-SIZE: 10px; COLOR: #2d2d2d; LINE-HEIGHT: normal
}
.uudis-vanem {
	FONT-SIZE: 11px; COLOR: #3e7aad; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.uudis-vanem A {
	FONT-SIZE: 11px; COLOR: #3e7aad; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.uudis-vanem A:hover {
	COLOR: #3e7aad; TEXT-DECORATION: underline
}
.veateade {
	FONT-SIZE: 11px; COLOR: #c80000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.pealkiri {
	FONT-SIZE: 19px; COLOR: #004c95; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pealkiri1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #004c95; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pealkiri2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #004c95
}
.nupp {
	BORDER-RIGHT: #5395d0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #5395d0 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; BORDER-LEFT: #5395d0 1px solid; COLOR: #004c95; BORDER-BOTTOM: #5395d0 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #eef4f9
}
.nupp-katkesta {
	BORDER-RIGHT: #eeafaf 1px solid; BORDER-TOP: #eeafaf 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #eeafaf 1px solid; COLOR: #c80000; BORDER-BOTTOM: #eeafaf 1px solid; BACKGROUND-COLOR: #ffffff
}
.nupp-edasitagasi {
	BORDER-RIGHT: #5395d0 1px solid; BORDER-TOP: #5395d0 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #5395d0 1px solid; COLOR: #004c95; BORDER-BOTTOM: #5395d0 1px solid; BACKGROUND-COLOR: #eef4f9
}
.nupp-telli {
	BORDER-RIGHT: #5395d0 1px solid; BORDER-TOP: #5395d0 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #5395d0 1px solid; WIDTH: 60px; COLOR: #004c95; BORDER-BOTTOM: #5395d0 1px solid; BACKGROUND-COLOR: #eef4f9
}
.v2ikenupp {
	BORDER-RIGHT: #72a2c8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #72a2c8 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 9px; BORDER-LEFT: #72a2c8 1px solid; COLOR: #004c95; BORDER-BOTTOM: #72a2c8 1px solid; FONT-FAMILY: tahoma; HEIGHT: 18px; BACKGROUND-COLOR: #eef4f9
}
.vorm {
	FONT-SIZE: 11px; COLOR: #2d2d2d
}
.header1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #015098
}
.header1 A {
	COLOR: #015098
}
.header2 {
	FONT-SIZE: 10px; COLOR: #015098
}
.header2 A {
	COLOR: #015098
}
.header3 {
	FONT-SIZE: 11px; COLOR: #015098; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.header3 A {
	COLOR: #015098
}
.footer {
	FONT-SIZE: 10px; COLOR: #537fa2
}
.footer A {
	COLOR: #537fa2
}
.footer B {
	FONT-WEIGHT: bold; COLOR: #c80000
}
.otsi {
	BORDER-RIGHT: #72a2c8 1px solid; BORDER-TOP: #72a2c8 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10px; BORDER-LEFT: #72a2c8 1px solid; COLOR: #306ea1; PADDING-TOP: 2px; BORDER-BOTTOM: #72a2c8 1px solid; HEIGHT: 18px
}
.t2psemotsing {
	FONT-SIZE: 10px; COLOR: #015098; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.keskkonnad {
	FONT-SIZE: 10px; COLOR: #72777b
}
.keskkonnad A {
	COLOR: #72777b
}
.keskkonnad A:hover {
	TEXT-DECORATION: none
}
.esileht-tooted {
	FONT-SIZE: 11px; COLOR: #72777b
}
.esileht-tooted A {
	COLOR: #72777b
}
.esileht-firmast {
	FONT-SIZE: 10px; COLOR: #41739b; LINE-HEIGHT: 16px
}
.esileht-firmast A {
	COLOR: #41739b
}
.esileht-firmast A:hover {
	TEXT-DECORATION: none
}
.rada {
	FONT-SIZE: 10px; COLOR: #767a7d
}
.rada A {
	FONT-SIZE: 10px; COLOR: #767a7d
}
.menyy-tase-1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #004c95
}
.menyy-tase-1 A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #004c95
}
.menyy-tase-1 A.open {
	COLOR: #5899d1
}
.menyy-tase-1 A.active {
	COLOR: #5899d1; TEXT-DECORATION: underline
}
.menyy-tase-2 {
	FONT-SIZE: 11px; COLOR: #5899d1
}
.menyy-tase-2 A {
	FONT-SIZE: 11px; COLOR: #5899d1
}
.menyy-tase-2 A.active {
	TEXT-DECORATION: underline
}
.menyy-tase-3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #015098; LINE-HEIGHT: 16px
}
.menyy-tase-3 A {
	COLOR: #015098; TEXT-DECORATION: none
}
.menyy-tase-3 A.active {
	COLOR: #015098; TEXT-DECORATION: underline
}
.lisainfo {
	FONT-SIZE: 11px; COLOR: #5395d0; LINE-HEIGHT: 17px
}
.lisainfo A {
	FONT-SIZE: 11px; COLOR: #5395d0; TEXT-DECORATION: none
}
.infojahind {
	FONT-SIZE: 10px; COLOR: #4b4b4b; LINE-HEIGHT: 16px
}
.infojahind B.pealkiri {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #004c95; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.infojahind B {
	COLOR: #5899d1
}
.infojahind I {
	FONT-SIZE: 10px
}
.infojahind A {
	LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.lehekyljed {
	FONT-SIZE: 11px; CURSOR: default; COLOR: #b7b7b7
}
.lehekyljed A {
	FONT-SIZE: 11px; COLOR: #03529a; TEXT-DECORATION: none
}
.lehekyljed A:hover {
	COLOR: #67b9ff; TEXT-DECORATION: none
}
.lehekyljed A.active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #5899d1; COLOR: #ffffff; TEXT-DECORATION: none
}
.lehekyljed A.active:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.eteenindus {
	FONT-SIZE: 10px; COLOR: #72777b; LINE-HEIGHT: 16px
}
.eteenindus A {
	COLOR: #598845; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.eteenindus A:hover {
	TEXT-DECORATION: underline
}
.eteenindus-user {
	FONT-SIZE: 11px; COLOR: #2d2d2d
}
.eteenindus-user A {
	COLOR: #2d2d2d
}
.tab {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #015098
}
.tab A {
	COLOR: #015098; TEXT-DECORATION: none
}
.tab-active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #015098
}
.tab-active A {
	COLOR: #015098; TEXT-DECORATION: none
}
.protsess-menu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #afafaf
}
.protsess-menu A.enabled {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #5395d0; TEXT-DECORATION: none
}
.protsess-menu A.enabled:hover {
	TEXT-DECORATION: underline
}
.protsess-menu A.active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #004c95; TEXT-DECORATION: underline
}
.toode {
	FONT-SIZE: 10px; COLOR: #000000
}
.toode B.hind {
	COLOR: #c80000
}
.toode B.pealkiri {
	FONT-SIZE: 11px; COLOR: #004c95; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.top {
	FONT-SIZE: 11px; COLOR: #5395d0; TEXT-DECORATION: none
}
.top A {
	FONT-SIZE: 11px; COLOR: #5395d0; TEXT-DECORATION: none
}
.deftbl {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; COLOR: #000000
}
.deftbl A {
	COLOR: #3e7aad; TEXT-DECORATION: none
}
.tabel-p2is {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #ffffff 1px solid; COLOR: #015098; BORDER-BOTTOM: #ffffff 1px solid
}
.tabel-p2is A {
	COLOR: #697e5d; TEXT-DECORATION: none
}
.tabel-p2is-2 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; COLOR: #004c95; BORDER-BOTTOM: #ffffff 1px solid
}
.tabel-p2is-v2ike {
	FONT-SIZE: 10px; BACKGROUND: #f5f9fc; COLOR: #004c95
}
.tabel-p2is-alam {
	FONT-SIZE: 11px; BACKGROUND: #fafafa; COLOR: #2d2d2d
}
.tabel-andmed {
	FONT-SIZE: 11px; BACKGROUND: #ffffff; COLOR: #2d2d2d
}
.tabel-andmed A {
	COLOR: #5395d0
}
.tabel-andmed-hall {
	FONT-SIZE: 11px; BACKGROUND: #fafafa; COLOR: #2d2d2d
}
.ed-td {
	FONT-SIZE: 11px; BACKGROUND: #ffffff; COLOR: #2d2d2d
}
.ed-thead {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #ffffff 1px solid; COLOR: #015098; BORDER-BOTTOM: #ffffff 1px solid
}
.vea-tbl {
	BORDER-RIGHT: #eeafaf 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eeafaf 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #eeafaf 1px solid; COLOR: #c80000; PADDING-TOP: 5px; BORDER-BOTTOM: #eeafaf 1px solid; TEXT-ALIGN: center
}
.admin-tbl {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; COLOR: #5b5b5b; PADDING-TOP: 15px
}
.admin-tbl A {
	COLOR: #5395d0; TEXT-DECORATION: underline
}
.admin-header1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #5b5b5b
}
.admin-header1 A {
	FONT-WEIGHT: normal; COLOR: #5b5b5b
}
.admin-actions {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ffffff 1px solid; COLOR: #5b5b5b; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 1px solid
}
.admin-actions A {
	FONT-SIZE: 11px; COLOR: #5b5b5b; TEXT-DECORATION: none
}
.admin-pages {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 10px; PADDING-BOTTOM: 15px; COLOR: #2d2d2d; PADDING-TOP: 15px
}
.admin-pages A {
	FONT-SIZE: 10px; COLOR: #2d2d2d; TEXT-DECORATION: none
}
.admin-pages A.active {
	COLOR: #2d2d2d; TEXT-DECORATION: underline
}
.admin-menyy-tase-1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #c80000
}
.admin-menyy-tase-1 A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #c80000
}
.admin-menyy-tase-2 {
	FONT-SIZE: 11px; COLOR: #c80000
}
.admin-menyy-tase-2 A {
	FONT-SIZE: 11px; COLOR: #c80000
}
.cbtn {
	BORDER-RIGHT: #e7e7e7 1px solid; BORDER-TOP: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; BORDER-BOTTOM: #e7e7e7 1px solid; HEIGHT: 26px
}
.txtbtn {
	COLOR: #000000; FONT-FAMILY: tahoma
}
SELECT.htmlEditSelect {
	BACKGROUND: #f9f9f9; FONT: 10px verdana,arial,sans-serif
}
