BODY {
	font : Verdana;
	color : #000000;
	background: #CCCCCC;
	font-size : 12px;
	text-decoration : none;
	margin: 0px;
	padding: 0px;
}

TD {
	font-size : 11px;
        text-decoration : none;
}

TEXTAREA {
	font-size: 12px;
	width : 100%;
}

INPUT, SELECT {
	font-size: 12px;
}

.content {
	font-family : Verdana;
        color : #000000;
        background : #E1E9EC;
        font-size : 11px;
        text-decoration : none;
	font-weight: normal;
	padding: 2px;
}

.altcontent {
        font-family : Verdana;
        color : #000000;
        background : #CBD4D7;
        font-size : 11px;
        text-decoration : none;
        font-weight: normal;
        padding: 2px;
}

.smallcont {
	font-family: Verdana;
	color: #000000;
	background: #E1E9EC;
	font-size: 9px;
	text-decoration: none;
	font-weight: normal;
}

.altsmallcont {
	font-family: Verdana;
        color: #000000;
        background: #CBD4D7;
        font-size: 9px;
        text-decoration: none;
        font-weight: normal;
}

.header {
	font-size : 22px;
	font-weight : bold;
	font-family : Verdana;
}

.title {
	font-size : 13px;
}

.alert {
	font-weight : bold;
	color : #770000; 
}

.bold {
	font-weight : bold;
}

.sidebar { 
	background : #202640;
	color: #FFEEEE;
}

.bar {
	font-weight:bold;
	background : #202640;
	color:#B5E2F1;
	font-family:Verdana;
	font-size:12px;
}

.barsmall {
        font-weight:bold;
        background : #202640;
        color:#B5E2F1;
        font-family:Verdana;
        font-size:10px;
}

DIV.bar {
	padding: 3px;
}

A.bar { color: #FFFFFF; }
A:hover.bar { color: #FFFFFF; }
A:visited.bar { color: #FFFFFF; }

A.barsmall { color: #FFFFFF; }
A:hover.barsmall { color: #FFFFFF; }
A:visited.barsmall { color: #FFFFFF; }

.small {
	font-size : 9px;
}

A {
	text-decoration : none;
	color: #000077;
}

A:hover {
	text-decoration : underline;
}

A:visited{
	color: #000077;
}

HR {
	color : #000000;
	height: 1px;
}

.adTitle a{color: #003366; font-weight:bold;}
.adTitle a:visited{color:#003366; font-weight:bold;}
.adText { cursor: hand;  color : #000000;  }

.symbol { font-family: Times New Roman; }


	.note { border: 1px solid #000000; font: 9px caption;  background: #FCD2DB; text-decoration:none; color: #000000;}
	A.note { text-decoration: none; color: #000000;}
	.notebody { display:block; border: 1px solid #666666; color: #000000; background: #FFFFFF; position:absolute; z-index: +10; width:300px; padding: 2px; left: 300px; font-size: 12px;}
	.notetitle { font-weight: bold; background: #CCCCCC; color: #000000; border-bottom: 1px dashed #666666; padding: 1px; width: 100%; margin: 0px;  font-size: 13px;}
	.notehidden { display: none; }
	.notevisible { display: block; position:absolute; z-index: +10; left:0px;}

