.button {background: #F76025;}
a.readon {color: #F76025;}
.contentheading {color: #F8723E;}
.sectiontableheader {background: #F76025;}
#ja-topnav {border-bottom: 4px solid #F76025;}
#ja-leftcol .moduletable h3, #ja-leftcol .moduletable_menu h3 {	background: url(h3-02.gif) top left no-repeat;}
/* #ja-leftcol .moduletable ul li a {background: url(../../images/arrow-new.gif) left no-repeat;} */
/* #ja-leftcol .moduletable_menu ul li a {	background: url(../../images/arrow-new.gif) left no-repeat;}*/
#ja-leftcol .submenu li a {background: url(a_bg.gif) left no-repeat;}
#ja-leftcol #ja-subnav h3 {background: url(h3-02.gif) top left no-repeat;}
#ja-rightcol .moduletable {border-top: 2px solid #F76025;}
/* #ja-rightcol .moduletable ul {list-style-image: url(../../images/arrow-new.gif);} */
#ja-footer {border-top: 4px solid #F76025;}
#ja-leftcol .moduletable .red { color: #a90000; }
.ask h3 { color:#FFF; background: #F8723E; padding-left: 12px }
.ask a:hover, .ask a { color:#FFF; background: #F8723E; } 
#ban { float: left; margin-top:12px; }
.feeder { margin-top: 2px;vertical-align:middle;}
#mainlevel a:link#active_menu {
color: #a90000;
}
.mainlevel a:link#active_menu {
color: #a90000;
}
