#outerslice { background: #ffc; border-bottom: 1px solid #fc0; margin: 0 0 0 0; padding: 4px 0; text-align: center; }
#slice { width: 880px; margin: 0 auto; }
#slice a { color: #000; text-decoration: underline; padding: 4px 8px; }
#slice a:hover { color: #FFFFFF; text-decoration: none; background: #E1771E; }
.link_unit { margin-left: 16px; }
.contenttoc { width 40px; }
#firefox { width: 180px; margin: 0px auto; }

/* start css-menu tutorial style */
ul.css-navigation{
	list-style:none; /* this line will remove any kind of bullet from the menu */
	width: 160px; /* sets the menu width */
	margin:0;
	padding:0;
}

#css-menu a
{
	display: block; /* this is a very important property here and it controls the way the menu elements are displayed - like block-level elements */
	padding: 5px 3px 5px 10px; /* sets the padding properties */
	font-weight:bold; /* sets the font weight */
	background-color: #222222; /* sets the color of the background */
	border-top: 1px solid #efefef; /* this code sets the line between the menu items */
}

#css-menu a:link
{
	color: #efefef; /* sets the font color */
	text-decoration: none;
}

#css-menu a:visited
{
	color: #efefef;
	text-decoration: none;
}

#css-menu a:hover
{
	background:#222222 url(menu-arrow.gif) no-repeat left center; /* when the cursor is over, in the left side of the menu item background it will be display the arrow.gif picture */
	text-indent:15px; /* this line of code move the text 15 px to the right */
}

#css-menu a:active
{
	color: #efefef;
	text-decoration: none;
}
/* end css-menu tutorial style */

/* .related_css a { color: #0066CC } */
.related_li { clear: both; }


body {
	color: #333333;
	background: #FFFFFF;
}

.clr {
	clear: both;
}

body#bd {
	background: #FFFFFF;
	margin: 0px auto;
	color: #404040;
	font-size: 11px;
	font: 70%/1.5 Tahoma, Arial, sans-serif;
	text-align: left;
	padding: 0;
}

body.contentpane {
	width: auto;
	margin: 10px;
	line-height: 140%;
}

h1 {
	font-size: 1.3em; font-weight: bold;
}

h2 {
	margin: 10px 0;
	font-size: 1.45em;
}

h3, h4 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}

form {
	margin: 0;
	padding: 0;
}

/* Small text */
.small, .smalldark, .createdate, .modifydate, .mosimage_caption, 
.blog_more, .pagenavcounter, .pagenav, .pagenavbar, .contenttoc, 
#ja-spotlight-1, #ja-spotlight-2, #ja-rightcol, #ja-footer, #ja-bottomline {
	font-size: 11px;
}


/* Normal link */
a {
	color: #404040;
        
}

a:hover, a:active {
	color: #000000;
	text-decoration: none;	
}

p {
	margin: 10px 0;
}

ul {
	margin: 4px;
	padding: 4px;
	list-style: none;
}

li {

        list-style: none;
        margin: 0px;
        padding: 0px;
}

th {
	padding: 4px;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

fieldset a {
	font-weight: bold;
}

hr {
	border-top: 1px solid #999999;
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	height: 1px;
}

img {
	border: 0;
	padding: 0;
	margin-left: 15px;
}

/* JOOMLA! STYLE
----------------------------------------------------------- */
table.blog {
	width: auto;
}

table.blog .article_seperator {
}

a.readon {
	color: #E1771E;
	font-size: 10px;
	padding: 1px 5px;
	text-decoration: none;
}

a.readon:hover {
	text-decoration: underline;
}

table.polls {
	width: 100%;
}

table.pollstableborder {
	padding-right: 10px;
	width: 100%;
	border-color: #FFFFFF;
	text-align: left;
}

table.pollstableborder img {
	margin: 4px 4px 4px 0;
}

.syndicate {
	padding: 0px 12px 0px 0px;
	margin-left: 12px;
}

div.syndicate a {
	padding-right: 30px;
	margin: 0;
}

table.contentpaneopen td, table.contentpane td {
	padding: 0;
	margin: 4px;
	border: none;
        }
.contentpaneopen span a { color: #E1771E; }
table.contentpaneopen, table.contentpane, table.blog {
	width: 100%;
	margin-right: 10px;
}

.createdate {
	color: #999999;
	font-weight: bold;
	line-height: 10px;
}

.modifydate {
	color: #999999;
	height: 15px;
}

.error {
	color: #CC0000;
}

.highlight {
	border-bottom: 1px dotted;
	font-weight: bold;
}

.mosimage {
	padding: 0;
	margin: 0px 0px 0 0!important;
	margin: 0px 0px 0 0;
}

.mosimage img {
	padding: 0;
	margin: 0!important;
}

.mosimage_caption {
	margin-top: 2px;
	padding: 1px 2px;
	color: #AAAAAA;
}

a.pagenav,
.pagenav_prev a,
.pagenav_next a,
.pagenavbar a {
	padding: 0 5px 1px;
	border: 1px solid #CCCCCC;
	background: #EEEEEE;
	color: #666666;
	text-decoration: none;
}

a.pagenav:hover, a.pagenav:active, a.pagenav:focus,
.pagenav_prev a:hover, .pagenav_prev a:active, .pagenav_prev a:focus,
.pagenav_next a:hover, .pagenav_next a:active, .pagenav_next a:focus,
.pagenavbar a:hover, .pagenavbar a:active, .pagenavbar a:focus {
	background: #D2D2D2!important;
	border: 1px solid #DDDAB5;
	text-decoration: none!important;
}

.pagenavbar {
	padding-left: 14px;
	color: #666666;
}

.pagenavcounter {
	padding: 8px 14px 0 14px;
	color: #666666;
}

.sectiontableheader {
	padding: 1px 4px;
	background: #990000;
	color: #FFFFFF;
	font-weight: bold;
}

.sectiontableheader a, .sectiontableheader a:hover {
	color: #FFFFFF;
}

tr.sectiontableentry1 td {
	padding: 4px;
	background: #EEEEEE;
}

tr.sectiontableentry2 td {
	padding: 4px;
}

.small {
	color: #999999;
}

.button {
	padding: 1px 2px;
	background: #990000;
	border: none;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold; 
}

div.back_button a,
div.back_button a:hover,
div.back_button a:active {
	margin: 10px 0;
	display: block;
	color: #999999;
	text-decoration: none!important;
	background: none!important;
}

.buttonheading {
	padding-right: 15px;
}

.toclink {
	margin-left: 10px;
}

.toclink th {
}

.contentheading {
	color: #B12A2A;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.componentheading {
	color: #404040;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0;
}

/* WIDE LAYOUT DIVS WIDTH
--------------------------------------------------------- */
.wide #ja-wrapper1,
.wide #ja-wrapper2,
.wide #ja-wrapper3,
.wide #ja-wrapper- {
	width: 990px;
	margin: 0px auto;
	padding: 0;
}

.wide #ja-top-modules  {
	width: 990px;
}

.wide #ja-topnav-inner {
	width: 990px;
}

.wide #ja-content {
	width: 546px;
	margin:0px 0px 0px 20px;
}

.wide #ja-leftcol {
	width: 202px;
}

.wide #ja-rightcol-outer {
	width: 202px;
}

.wide #ja-rightcol {
	width: 198px;
}

.wide #ja-rightcol #ja-newsflash {
	width: 198px;
	height: 156px;
}

.wide #ja-content-full-right {
	width: 752px;
	margin-left: 20px;
	float: left;
}

.wide #ja-content-full-left {
	width: 752px;
	margin-right: 20px;
	float: right;
}

.wide #ja-top-modules-inner {
	position: relative;
	width: 980px;
	margin: 0px auto;
}

.wide #ja-footer-inner {
	width: 980px;
}

/* 1 column content width */
.wide #ja-content-f {
	width: 980px;
	margin: 0px auto;
}

/* WRAPPER MODULES */
#ja-wrapper- {
	background: #FFFFFF;
	width: 770px;
	margin: 0px auto;
	padding: 0;
}

#ja-wrapper2 {
	background: #FFFFFF;
	width: 770px;
	margin: 0px auto;
	padding: 0;
}

#ja-wrapper3 {

}

/* HEADER */
#ja-header-outer {
	background: url(header-bg.gif);
	height: 160px;
	border-bottom: 1px solid #990000;
}

#ja-gray-bar {
	background: url(gray-bar.gif) top repeat-x;
	height: 14px;
}

/* TOP MODULES */

#ja-top {
	background: #F1F1F1;
}

#ja-top-modules {
	margin: 0px auto;
	width: 770px;
	height: 90px;
	background: #F1F1F1;
}

/* LOGO */
#ja-logo {
	float: left;
	width: 301px;
}

#ja-logo img {
	margin: 0px;
}

/* TOPNAV
--------------------------------------------------------- */
#ja-topnav {
	clear: left;
	font-size: 11px;
	border-bottom: 2px solid #990000;
	background: #F1F1F1;
	margin: 0;
	padding: 0;
}

#ja-topnav-inner {
	width: 770px;
	margin: 0px auto;
}

#ja-topnav a {
	color: #404040;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

#ja-topnav a:hover {
	text-decoration: none;
}

#ja-topnav ul {
	margin: 0;
	padding: 0;
}

#ja-topnav li {
	margin: 0;
	padding: 0;
}

/* LEFTCOL */

#ja-leftcol {
	width: 160px;
	float: left;
	color: #000000;
	font-size: 1em;
        }

#referal_fire {
        float: left;
	color: #F76025;
	font-size: 1em;
        font-weight: bold;
        text-align:center;
        padding-left: 4px;
        width: 190px;
        border: 1px solid #E1E1E1;
}

#ja-leftcol .moduletable, #ja-leftcol .moduletable_menu {
	margin-bottom: 16px;
	padding-bottom: 6px;
        border: 1px solid #E1E1E1;
}

#ja-leftcol .moduletable td {
	padding-left: 15px;
        }

#ja-leftcol .moduletable h3, #ja-leftcol .moduletable_menu h3 {
	background: url(ja-h3-bg.gif) top left no-repeat;
	padding-left: 24px;
	padding-top: 4px;
	height: 27px;
	color: #595959;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
}

#ja-leftcol .moduletable ul li {
	list-style: none;
}

#ja-leftcol .moduletable ul li a, #ja-leftcol .moduletable_menu ul li a {
	padding-left: 16px;
        list-style: none;
	color: #404040;
        font-size: 12px;
	font-weight: bold;
        border-bottom: 1px dotted #000;
	text-decoration: none;
	line-height: 1.7em;
}

#ja-leftcol .moduletable ul li a:hover, #ja-leftcol .moduletable_menu ul li a:hover {
	color: #FFFFFF; text-decoration: none; background: #E1771E; border:0;
}

/* LOGIN */
#mod_login_password, #mod_login_username {
	width: 110px;
	padding-left: 7px;
	border: 1px solid #7D7D7D;
}

#mod_login_password {
}

#mod_login_username {

}

#mod_login_remember {
	border: none;
	padding: 0!important;
}

/* SEARCH */
#ja-search {
	float: right;
	padding-top: 55px;
}

#ja-search .inputbox {
	background: #FFFFFF;
	border: 1px solid #7D7D7D;
	padding-left: 6px;
	width: 150px;
	font-size: 10px;
}


/* PATHWAY */

#ja-pathway-outer {
	height: 20px;
	width: 770px;
	margin: 0px auto;
	margin-bottom: 4px;
}

.wide #ja-pathway-outer {
	width: 990px;
}

.wide #ja-usertools img {
	margin: 4px 4px 0px 14px;
}

.wide #ja-usertools {
	width: 196px;
}

#ja-pathway {
	float: left;
	padding-left: 10px;
}

.pathway img {
	padding: 0px 6px;
	margin: 0;
}

#ja-usertools {
	float: right;
	width: 158px;
	margin: 0px auto;
}

#ja-usertools img {
	cursor: pointer;
	margin: 6px 5px 0px 6px;
}

#ja-usertools a {
}

/* CONTENT */
#ja-content {
	width: 410px;
	float: left;
	margin-left: 20px;
	margin-right: 10px; 
}

/* 2 column content [on the left] width */
#ja-content-full-left {
	margin-right: 20px;
	width: 580px;
	float: left;
}

/* 2 column content [on the right] width */
#ja-content-full-right {
	margin-left: 20px;
	width: 580px;
	float: left;
}

/* 1 column content width */
#ja-content-full {
	margin: 0 15px 0;
}


/* RIGHTCOL */
#ja-rightcol {
	float: right;
	width: 158px;
	font-size: 1em;
	clear: right;
}

#ja-rightcol .moduletable {
	padding: 6px 8px 8px 12px;
	margin-bottom: 16px;
	border-top: 2px solid #990000;
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	border-bottom: 2px solid #E8E8E8;
}

#ja-rightcol .moduletable h3 {
	background: none;
	color: #404040;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

#ja-rightcol .moduletable ul li a {
	padding-left: 2px;
        margin-left: 0px;
	color: #888888;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.8em;
}

#ja-rightcol #ja-newsflash {
	height: 158px;
	overflow: hidden;
	margin-bottom: 16px;
	border-bottom: 2px solid #E8E8E8;
}

#ja-newsflash table {
	border-collapse: collapse; 
	margin: 0;
	padding: 0;
}

#ja-newsflash .moduletable h3 {
	background: none;
	color: #404040;
	padding: 0;
	margin: 0;
	
}

/* FOOTER */
#ja-footer {
	border-top: 4px solid #990000;
	background: #F1F1F1;
	height: 60px;
	clear: both;
}

#ja-footer-inner {
	width: 770px;
	margin: 0px auto;
	padding: 0;
}

#ja-footer-inner img {
	margin: 0;
	padding: 0;
	border: none;
}

#but-css {
	float: right;
	margin-top: 15px;
}

#but-xhtml {
	float: right;
	margin-right: 20px;
	margin-top: 15px;
}

#copyright {
	float: left;
	font-size: 11px;
	color: #8D8C90;
	margin-top: 12px;
}

/* MISCELLANOUS
----------------------------------------------------------- */
div.back_button a,
div.back_button a:hover,
div.back_button a:active {
	margin: 10px 0;
	display: block;
	color: #AAAAAA;
	text-decoration: none;
}

#mod_login_password {
}

#mod_login_username {
}

#mod_login_remember {
	border: none;
	background: none;
}

#mod_search_searchword {
	width: 140px;
}

/* Text Shadow */
.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	width: 100%;
	display: block;
}

* html .clearfix {
	height: 1%; /* End hide from IE-mac */
}

/* Firefox Scrollbar Hack - Do not remove */
html {
	margin-bottom: 1px;
	height: 100%!important;
	height: auto;
}
h1 { line-height:16px; font-size:16px}
h2 { font-size:16px}
h3 { font-size:14px}
h4 { font-size:12px}
.contentpaneopen a { color: #E1771E; text-decoration: underline; }
.contentpaneopen a:hover { color: #FFFFFF; text-decoration: none; background: #E1771E;}
.contentheading a { color: #000000;}
.commands {
    float: none;
    padding: 1em;
    border: 1px dashed #2f6fab;
    color: black;
    background-color: #f9f9f9;
    line-height: 1.1em;
    font-family: Courier New, Courier, mono;
    font-size: 12px;
    font-style: italic;
    margin:0px 8px;
}
.command {
          clear: both;
	  color: #444;
	  background: #F4f4f4 url(codenums.png) repeat-y;
	  border: 1px solid #ccc;
	  padding: 1px;
	  padding-left: 25px;
	  font-family: "courier new", helvetica, "times new roman", monospace;
	  font-size: 1em;
	  width: 650px;
	  margin: 2px 0px;
	  white-space: nowrap;
	  overflow: auto;
}
h2, h3, h4, h5, h6 { border-bottom: 1px solid #ccc }
.thumb { border: 1px solid #cccccc; margin: 0px; padding: 4px; float: left}
i { background-color: #EFEFEF; }
#rssad { margin:0px; text-decoration: none; }

table.sqltable td, table.sqltable tr {
        padding: 4px;
        margin: 4px;
        border: 1px solid #333333;
        }


/* 125x125 advertising */
div#advx {
	float:left;
	border:1px solid #ccc;
        background:#FFFFFF;
        padding: 0;
	width:300px;
	height:270px;
        margin: 4px 4px 4px 0;
}
div.iadvx {
	float:left;
	margin:5px;
        padding: 0;
	width:125px;
	height:125px;
}
.moduletable-fla {
	margin: 0;
	padding: 0;
	border:1px solid #dfdfdf;
}
.moduletable-fla img {
	margin:0;
	padding:0;
}
.moduletable-ask { width: 550px; background: #ffc; border: 1px solid #fc0; margin: 0; padding: 4px 0; text-align: center; }
div.ads { float: left; border: 1px solid #ccc; padding: 2px 2px 2px 0; margin: 2px 2px 2px 0; }