/*Global Red Hover*/
a:hover { color: #ff9900 }
.PAGETITLE {font-size: xx-large;}
.BREADCRUMB {color: #000066} 

.SEAHDRBG {background: #ffcc66;}
.SEABODYBG {background: #eeeeee;}
.SPOHDRBG {background: #ffcc66;}
.SPOBODYBG {background: #ffffff;}
.STKHDRBG {background: #ffcc66;}
.STKBODYBG {background: #ffffff;}
.HORHDRBG {background: #ffcc66;}
.HORBODYBG {background: #ffffff;}
.TVCHDRBG {background: #ffcc66;}
.TVCBODYBG {background: #ffffff;}
.COMHDRBG {background: #ffcc66;}
.COMBODYBG {background: #ffffff;}
.HDLHDRBG {background: #ffcc66;}
.HDLBODYBG {background: #ffffff;}
.WEAHDRBG {background: #ffcc66;}
.WEABODYBG {background: #ffffff;}
.SUBHEADERBG {background: #99cc99;}

.JOKHDRBG { background: #CAE1FF;} 
.JOKBODYBG { background: #ffffff;}

.BOBHDRBG { background: #CAE1FF;}
.BOBBODYBG { background: #ffffff;}

.TTLHDRBG { background: #CAE1FF;}
.TTLBODYBG { background: #ffffff;}                                         

.MOMHDRBG { background: #eeeeee;}
.MOMBODYBG { background: #CAE1FF;}                                         

.FACHDRBG { background: #eeeeee;}
.FACBODYBG { background: #CAE1FF;}

.NEWHDRBG { background: #eeeeee;}
.NEWBODYBG { background:  #CAE1FF;}
 
.TRKHDRBG { background: #CAE1FF;}
.TRKBODYBG { background: #ffffff;}
 
.WFWHDRBG { background: #CAE1FF;}
.WFWBODYBG { background: #ffffff;}
 
.GAMHDRBG { background: #eeeeee;}
.GAMBODYBG { background: #CAE1FF;}
 
.COSHDRBG { background: #eeeeee;}
.COSBODYBG { background: #CAE1FF;}

.CTBHDRBG { background: #eeeeee;}
.CTBBODYBG { background: #ffffd6;}
.Purple1
{
    COLOR: #993399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: xx-small;
}
.Purple2
{
    COLOR: #993399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: x-small;
}
.Purple3
{
    COLOR: #993399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: small;
}                                                       
.subheaderfont 
{
	COLOR: #333333; 
	font-family: geneva, arial, sans-serif; 
	font-weight: bold;
	FONT-SIZE: x-small; 
}
.poweredbyfont 
{
	COLOR: #666666; 
	font-family: geneva, arial, sans-serif; 
	FONT-SIZE: xx-small; 
}
.subtitlefont 
{
	COLOR: #000000; 
	font-family: geneva, arial, sans-serif; 
	font-weight: bold;
	FONT-SIZE: x-small;
}
                        
.PageTitle
{
    COLOR: #336699;
	font-family: geneva, arial, sans-serif;
    FONT-SIZE: medium;
}
.SideBarText1
{
    COLOR: #336699;
	font-family: geneva, arial, sans-serif;
    FONT-SIZE: x-small;
}

.PageDescription
{
    COLOR: #000000;
	font-family: geneva, arial, sans-serif;
    FONT-SIZE: xx-small;
}
.SideBarTitle
{
    COLOR: #ffffff;
	font-family: geneva, arial, sans-serif;
	font-size: x-small ;
	font-weight: bold;
	text-decoration:none;
}
.TopBottomTitle
{
    COLOR: #e5e5e5;
	font-family: geneva, arial, sans-serif;
	font-size: x-small ;
	font-weight: bold;
	text-decoration:none;
}
.ltblue
{
    COLOR: #000066;
	font-family: geneva, arial, sans-serif;
	font-size: 11pt ;
	font-weight: bold;
}
.ltbluelogo
{
    COLOR: #000066;
	font-family: geneva, arial, sans-serif;
	font-size: large;
	font-weight: bold;
}
.whitexxsmallbold
{
    COLOR: #ffffff;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: xx-small;
}
.whitexxsmall
{
    COLOR: #ffffff;
	font-family: verdana, geneva, arial, sans-serif;
    FONT-SIZE: xx-small;
}

.whitexsmallbold
{
    COLOR: #ffffff;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: x-small;
}
.whitesmallbold
{
    COLOR: #ffffff;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: small;
}
.whitemediumbold
{
    COLOR: #ffffff;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: medium;
}
.whitelargebold
{
    COLOR: #ffffff;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: large;
}
.dkbluesmall
{
    COLOR: #000099;
	font-family: verdana, geneva, arial, sans-serif;
    FONT-SIZE: small;
}
.dkbluesmallbold
{
    COLOR: #000099;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: small;
}
.dkbluexsmallbold
{
    COLOR: #000099;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: x-small;
}
.ltbluesmall
{
    COLOR: #0000ff;
	font-family: verdana, geneva, arial, sans-serif;
    FONT-SIZE: small;
}
.ltbluesmallbold
{
    COLOR: #0000ff;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: small;
}
.ltbluexsmallbold
{
    COLOR: #0000ff;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: x-small;
}
.ltbluexxsmallbold
{
    COLOR: #0000ff;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: xx-small;
}

.jeevetextbody
{
    COLOR: #000000;
	font-family: verdana, geneva, arial, sans-serif;
    FONT-SIZE: x-small;
}
.litetopicstextbody
{
    COLOR: #000000;
	font-family: verdana, geneva, arial, sans-serif;
    FONT-SIZE: x-small;
}
.litetopicsxxtextbody
{
    COLOR: #000000;
	font-family: verdana, geneva, arial, sans-serif;
    FONT-SIZE: xx-small;
}
.formlabel
{
    COLOR: #000000;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: x-small;
}
.dkgraysmallbold
{
    COLOR: #333333;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: small;
}
.dkgrayxsmall
{
    COLOR: #333333;
	font-family: verdana, geneva, arial, sans-serif;
    FONT-SIZE: x-small;
}
.dkgrayxsmallbold
{
    COLOR: #333333;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: x-small;
}
.dkgrayxxsmallbold
{
    COLOR: #333333;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: xx-small;
}
.AnswerLink
{
    COLOR: #000000;
	font-family: verdana, geneva, arial, sans-serif;
    FONT-SIZE: xx-small;
	background: #ffff00;
}
.dkgrayxxsmall
{
    COLOR: #333333;
	font-family: verdana, geneva, arial, sans-serif;
    FONT-SIZE: xx-small;
}
.mudbluesmallbold
{
    COLOR: #336699;
	font-family: verdana, geneva, arial, sans-serif;
	font-weight: bold;
    FONT-SIZE: small;
}
.off {
	background:#336699; 
	BORDER-BOTTOM: #999 1px solid; 
	BORDER-RIGHT: #CCC 1px solid;	
	PADDING-LEFT: 7px; 
}

.on {	
	cursor:hand; 
	background:#6D81B0; 
	BORDER-BOTTOM: #999 1px solid; 
	BORDER-RIGHT: #CCC 1px solid;	
	PADDING-LEFT: 7px; 
}
.bodytext {font-family:arial,helvetica;font-size:x-small;}
.highlight {BACKGROUND: #396;CURSOR: hand; border:1px #333 solid}
