h1           { font-family: Arial; font-size: 10pt; color: darkblue; font-weight: bold }
.tnbw        { font-family: Arial; font-size: 10pt; color: #FFFFFF; font-weight: bold }
.tnbb        { font-family: Arial; font-size: 10pt; color: #000080; font-weight: bold }
.tnby        { font-family: Arial; font-size: 10pt; color: #FCCD10; font-weight: bold }
.tsy         { font-family: Arial; font-size: 8pt; color: #FCCD10 }
.tby         { font-family: Arial; font-size: 12pt; color: #FCCD10 }
.tny         { font-family: Arial; font-size: 10pt; color: #FCCD10 }
h2           { font-family: Arial; font-size: 10pt; color: #000080; font-weight: bold }
.hby         { color: #FCCD10; font-family: Arial; font-size: 10pt; font-weight: bold }
.hbb         { font-family: Arial; font-size: 10pt; color: #000080; font-weight: bold }
.tnb         { font-family: Arial; font-size: 10pt; color: #000080 }
.tbb         { font-family: Arial; font-size: 12pt; color: #000080 }
.tsb         { font-family: Arial; font-size: 8pt; color: #000080 }
.main {
	FONT-FAMILY: arial, verdana, helvetica
}
.menu {
	FONT-FAMILY: arial, verdana, helvetica
}
.bottommain {
	FONT-FAMILY: arial, verdana, helvetica
}
.bottommenu {
	FONT-FAMILY: arial, verdana, helvetica
}
.scripts {
	FONT-FAMILY: arial, verdana, helvetica
}
.main {
	FONT-SIZE: 15px; COLOR: #000000; BACKGROUND-COLOR: #fffffc
}
.bottommain {
	FONT-SIZE: 15px; COLOR: #000000; BACKGROUND-COLOR: #fffffc
}
.menu {
	FONT-SIZE: 13px; COLOR: #000000; BACKGROUND-COLOR: #ddeedd
}
.bottommenu {
	FONT-SIZE: 13px; COLOR: #000000; BACKGROUND-COLOR: #ddeedd
}
.scripts {
	FONT-SIZE: 11px; COLOR: #000000
}
.scripts A:link {
	FONT-SIZE: 11px; COLOR: #000000
}
.scripts A:visited {
	FONT-SIZE: 11px; COLOR: #000000
}
.scripts A:active {
	FONT-SIZE: 11px; COLOR: #000000
}
.flags {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; BACKGROUND-COLOR: #aabbaa; TEXT-DECORATION: none
}
.flags A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; BACKGROUND-COLOR: #aabbaa; TEXT-DECORATION: none
}
.flags A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; BACKGROUND-COLOR: #aabbaa; TEXT-DECORATION: none
}
.flags A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; BACKGROUND-COLOR: #aabbaa; TEXT-DECORATION: none
}
.aflags {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; BACKGROUND-COLOR: #ccddcc; TEXT-DECORATION: none
}
.aflags A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; BACKGROUND-COLOR: #ccddcc; TEXT-DECORATION: none
}
.aflags A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; BACKGROUND-COLOR: #ccddcc; TEXT-DECORATION: none
}
.aflags A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; BACKGROUND-COLOR: #ccddcc; TEXT-DECORATION: none
}
.flags A:hover {
	COLOR: #aa0000; BACKGROUND-COLOR: #bbccbb
}
.aflags A:hover {
	COLOR: #aa0000
}
.headline {
	FONT-WEIGHT: bold; FONT-SIZE: 26px; COLOR: #aa0000; FONT-FAMILY: "times new roman"
}
.subline {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: technical
}
.topnewsheader {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: "times new roman"
}
.topnewsheadline {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: "times new roman"
}
.topnewsdate {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "arial", "helvetica", "sans serif"
}
.topnewstext {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "arial", "helvetica", "sans serif"
}
.newsheader {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: "times new roman"
}
.newsheadline {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "times new roman"
}
.newsdate {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "arial", "helvetica", "sans serif"
}
.newstext {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "arial", "helvetica", "sans serif"
}
.description {
	FONT-FAMILY: verdana, geneva, helvetica
}
.bottomborder {
	FONT-FAMILY: verdana, geneva, helvetica
}
.description {
	FONT-SIZE: 14px; BACKGROUND-COLOR: #eeeeee
}
.bottomborder {
	FONT-SIZE: 14px
}
.blackbox {
	FONT-SIZE: 11px; COLOR: #fffffc; FONT-FAMILY: ms sans serif, geneva, helvetica; BACKGROUND-COLOR: #000000
}
.blackbox A:link {
	FONT-SIZE: 11px; COLOR: #fffffc; FONT-FAMILY: ms sans serif, geneva, helvetica; BACKGROUND-COLOR: #000000
}
.blackbox A:visited {
	FONT-SIZE: 11px; COLOR: #fffffc; FONT-FAMILY: ms sans serif, geneva, helvetica; BACKGROUND-COLOR: #000000
}
.blackbox A:active {
	FONT-SIZE: 11px; COLOR: #fffffc; FONT-FAMILY: ms sans serif, geneva, helvetica; BACKGROUND-COLOR: #000000
}
.search {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #667766; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ddeedd
}
.toplinks {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000
}
.toplinks A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000
}
.toplinks A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000
}
.toplinks A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000
}
.yourehere {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ddffdd; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000
}
.yourehere A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000
}
.yourehere A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000
}
.yourehere A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000
}
.bottomlinks {
	FONT-SIZE: 9px; FONT-FAMILY: ms sans serif, geneva, helvetica
}
.bottomlinks A:link {
	FONT-SIZE: 9px; FONT-FAMILY: ms sans serif, geneva, helvetica
}
.bottomlinks A:visited {
	FONT-SIZE: 9px; FONT-FAMILY: ms sans serif, geneva, helvetica
}
.bottomlinks A:active {
	FONT-SIZE: 9px; FONT-FAMILY: ms sans serif, geneva, helvetica
}
.b1 {
	BACKGROUND-COLOR: #000000
}
.b2 {
	BACKGROUND-COLOR: #ccddcc
}
.thebody {
	MARGIN-TOP: -8px; BACKGROUND-IMAGE: url("lightgray1.gif"/*tpa=http://www.onesmartclick.com/lightgray1.gif*/); MARGIN-LEFT: -8px; BACKGROUND-COLOR: #666666
}
.thebody {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px
}
.boxuserboard {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.boxprevnext {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #bbbbaa; TEXT-DECORATION: none
}
.boxprevnext A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #bbbbaa; TEXT-DECORATION: none
}
.boxprevnext A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #bbbbaa; TEXT-DECORATION: none
}
.boxprevnext A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #bbbbaa; TEXT-DECORATION: none
}
.boxprevnext A:hover {
	COLOR: #aa0000
}
.sections A:link {
	COLOR: #000099
}
.menu A:link {
	COLOR: #000099
}
.sections A:visited {
	COLOR: #660099
}
.menu A:visited {
	COLOR: #660099
}
.menu A {
	TEXT-DECORATION: none
}
.boxborder {
	BACKGROUND-COLOR: #000000
}
TD .newhead {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; BACKGROUND: #fff8f0; COLOR: #000000; FONT-FAMILY: arial,verdana,geneva,helvetica; TEXT-ALIGN: center
}
TD .newbody {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; BACKGROUND: #efe8e0; COLOR: #000000; FONT-FAMILY: arial,verdana,geneva,helvetica; TEXT-ALIGN: center
}
TD .newsubhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #ffcc00; FONT-FAMILY: arial,verdana,geneva,helvetica
}
TD .newsubbody {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #ffffff; FONT-FAMILY: arial,verdana,geneva,helvetica
}
.lm2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.lm2 TD A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.lm2 TD A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.lm2 TD A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.lm2 TD {
	COLOR: #333333; BACKGROUND-COLOR: #c0c8c0
}
.lm2 TD A:link {
	COLOR: #3f4860
}
.lm2 A:visited {
	COLOR: #3f4860
}
.lm2 A:active {
	COLOR: #3f4860
}
.lm2 TD A:hover {
	COLOR: #aa0000
}
.hm2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.hm2 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.hm2 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.hm2 A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.hm2 {
	COLOR: #ffffff; BACKGROUND-COLOR: #3f4860
}
.hm2 A:link {
	COLOR: #ffffff
}
.hm2 A:visited {
	COLOR: #ffffff
}
.hm2 A:active {
	COLOR: #ffffff
}
.hm1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana; BACKGROUND-COLOR: #c0c0c0; TEXT-DECORATION: none
}
.catlist {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: "arial"; BACKGROUND-COLOR: white
}
