BODY {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 8pt
}
TD {
	FONT-SIZE: 9pt
}
A.leftnav_pri:link {
	COLOR: #3056bf; TEXT-DECORATION: none
}
A.leftnav_pri:active {
	COLOR: #3056bf; TEXT-DECORATION: none
}
A.leftnav_pri:visited {
	COLOR: #3056bf; TEXT-DECORATION: none
}
A.leftnav_pri:hover {
	COLOR: #6387ed; TEXT-DECORATION: none
}
A.leftnav_prihighlight:link {
	COLOR: #3056bf; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.leftnav_prihighlight:active {
	COLOR: #3056bf; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.leftnav_prihighlight:visited {
	COLOR: #3056bf; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.leftnav_prihighlight:hover {
	COLOR: #6387ed; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.redlink:link {
	COLOR: #ff0000; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.redlink:active {
	COLOR: #ff0000; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.redlink:visited {
	COLOR: #ff0000; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.redlink:hover {
	COLOR: #ff2222; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
P {
	FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt
}
P.right {
	TEXT-ALIGN: right
}
P.left {
	TEXT-ALIGN: left
}
P.center {
	TEXT-ALIGN: center
}
P.nojust {
	
}
P.leading {
	LINE-HEIGHT: 12pt
}
I {
	FONT-STYLE: italic
}
B {
	FONT-WEIGHT: bold
}
H1 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
H2 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
H3 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
H4 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
H5 {
	FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 20pt; FONT-WEIGHT: bold
}
BLOCKQUOTE {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt
}
TABLE {
	FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt
}
TR {
	FONT-FAMILY: Arial, Helvetica, Helv, sans-serif
}
OL {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt; LIST-STYLE: decimal
}
OL OL {
	FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt; LIST-STYLE: lower-roman
}
UL {
	FONT-SIZE: 10pt; LIST-STYLE: disc outside
}
UL UL {
	FONT-WEIGHT: normal; LIST-STYLE: disc outside
}
UL UL UL {
	FONT-SIZE: 10pt; LIST-STYLE: disc outside
}
UL.image {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt; LIST-STYLE: url(http://accepted.com/_staging/images/smbul_red.gif) outside
}
.texttitle {
	FONT-STYLE: italic
}
.cellstd {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt
}
.textmenu {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt
}
.textnav {
	FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.footer {
	FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 8pt; MARGIN-RIGHT: 0.1in; TEXT-ALIGN: right
}
.leftfooter {
	FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 8pt; MARGIN-RIGHT: 0.1in; TEXT-ALIGN: left
}
.chat {
	COLOR: #cc0000
}
.chatguest {
	COLOR: #808080
}
.chatguest01 {
	COLOR: #808080
}
.chatguest02 {
	COLOR: #336666
}
.chatguest03 {
	COLOR: #ff9900
}
.chatguest04 {
	COLOR: #1f287a
}
.chatguest05 {
	COLOR: #660033
}
.chatguest06 {
	COLOR: #009933
}
.chatguest07 {
	COLOR: #0066cc
}
.chatguest08 {
	COLOR: #99cc00
}
.indent {
	MARGIN-LEFT: 0.1in
}
.q {
	COLOR: #990009
}
.a {
	COLOR: #000066
}
.question {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt
}
.answer {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt
}
.cellstd {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: 800
}
.celllt {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 9pt
}
.cell10 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 14px
}
.cellwhite {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: 200
}
.smallprompt {
	FONT-SIZE: 8.5pt
}
.newshead {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 8.5pt; FONT-WEIGHT: bold
}
.red {
	COLOR: #ff0000
}
.bookHeading {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 20px
}
.bookTitleLink {
	COLOR: dodgerblue; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 16px; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
.stacksTitle {
	COLOR: #333399; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 24px
}
A.bookTitleLink:hover {
	COLOR: orange; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 16px; TEXT-DECORATION: none
}
A.bookTitleLink:visited {
	COLOR: dodgerblue; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 16px; TEXT-DECORATION: none
}
TD.booksIntro {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 16px; TEXT-ALIGN: justify
}
TD.authorCell {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 16px; TEXT-DECORATION: none
}
TD.authorCellHead {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
.faqQuestion {
	COLOR: #3056bf; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: 600
}
.faqAnswer {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 10pt
}
.navHeaderLight {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: 600
}
.navDetailLight {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 9pt; TEXT-ALIGN: left
}
.navHeaderDark {
	COLOR: #285191; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: 600
}
.navDetailDark {
	COLOR: #285191; FONT-FAMILY: Arial, Helvetica, Helv, sans-serif; FONT-SIZE: 9pt; TEXT-ALIGN: left
}
A.faqQuestion:link {
	COLOR: #3056bf; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.faqQuestion:active {
	COLOR: #3056bf; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.faqQuestion:visited {
	COLOR: #3056bf; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.faqQuestion:hover {
	COLOR: #6387ed; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:visited {
	COLOR: navy
}
A:hover {
	COLOR: red
}
