TD.ygmabk {
	BACKGROUND: url(http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_bk.gif) #efefef repeat-x 50% bottom
}
TD.ygmatcrn {
	BACKGROUND: url(http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_tcrn.gif) #efefef no-repeat left bottom
}
TD.ygmatcrnb {
	BACKGROUND: url(http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_tcrn_b.gif) #efefef no-repeat right bottom
}
TD.ygmacrn {
	BACKGROUND: url(http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_crn2.gif) repeat-x
}
TD.ygmacrnb {
	BACKGROUND: url(http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_crn_b.gif) #fff repeat-x
}
TD.ygmabk INPUT {
	FONT: 110% verdana,geneva,sans-serif
}
#ygma TD {
	MARGIN: 0px; TEXT-ALIGN: left
}
#ygma .ygbt {
	BACKGROUND: #dcdcdc
}
#ygmalinks {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.ygmabk A {
	COLOR: #000
}
#ygmasearch {
	PADDING-RIGHT: 6px
}
#ygmalogo {
	MARGIN: 3px 5px 0px 0px
}
#ygmagreet {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; LINE-HEIGHT: 12px; PADDING-TOP: 5px
}
TD#ygmaproplinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 2px; TEXT-ALIGN: right
}
