/* This style sheet is copyright 2001-2002 (c) by Creative Element
 * All rights reserved.  Intended for use with Annoyances.org
 */

TD, BODY {font-size: 10pt; font-family: Verdana,Arial,Helvetica;}
INPUT {font-size: 10pt; font-family: Verdana,Arial,Helvetica;}
SELECT {font-size: 8pt; font-family: Verdana,Arial,Helvetica;}
TEXTAREA {font-size: 11pt; font-family: Verdana,Arial,Helvetica;}
PRE {font-size: 10pt; font-family: Courier;}
TT {font-size: 9pt; font-family: Courier;}
